<div class="pb-16">
	<button class="btn bg-green bg-trans-secondary">
		<span class="icon">
			<i class="material-icons">add</i>
		</span><span class="text">Nuevo</span>
	</button>
</div>
<div class="list">
	<article>
		<div class="border-b border-t b-light border-radius mb-16">
			<div class="list-element">
				<div class="ref">
					<span class="fc-white" [style.backgroundColor]="colors.getColor('Contenido')">
						<label class="title-smaller size-24">C</label>
					</span>
				</div><div class="info">
					<div class="p-16">
						<h3 class="fw-n mb-4">
							Contenido
						</h3>
						<p class="fc-opacity">
							<b class="fw-500">Creado el dd/mm/yyyy</b>
						</p>
					</div>
				</div>
			</div>
			<div class="align-right p-12 pr-16" *ngIf="auth.getUser()._id == owner">
				<button class="btn bg-trans-secondary float-left" onclick="showPopup(true, '#add-subcontent')">
					<span class="icon">
						<i class="material-icons">add</i>
					</span><span class="text">Agregar Tema</span>
				</button>
				<button class="btn-icon hover" title="Editar">
					<span class="icon">
						<i class="material-icons">mode_edit</i>
					</span><!-- <span class="text">Editar</span> -->
				</button>
				<button class="btn-icon bg-trans-red" title="Eliminar">
					<span class="icon">
						<i class="material-icons">delete</i>
					</span><!-- <span class="text">Eliminar</span> -->
				</button>
			</div>
			<div class="p-24 pt-0 mt-16">
				<p class="fs-b">Lorem ipsum</p>
			</div>
			<div class="pl-16">
				<section>
					<div class="title-smaller fc-opacity mb-4">Temas</div>
					<div>
						<div class="list-element hover">
							<div class="ref">
								<span class="fc-white mini" [style.backgroundColor]="colors.getColor('1')">
									<label class="title-smaller size-24">1</label>
								</span>
							</div><div class="info">
								<div class="p-16">
									<div class="col-auto va-m">
										<h3 class="fw-n mb-4">
											Tema
										</h3>
										<p class="fc-opacity">
											<b class="fw-500">Subido el dd/mm/yyyy</b>
										</p>
									</div>
									<div class="col-auto va-m float-right" *ngIf="auth.getUser()._id == owner">
										<button class="btn-icon hover">
											<span class="icon small">
												<i class="material-icons">mode_edit</i>
											</span><!-- <span class="text">Editar</span> -->
										</button>
										<button class="btn-icon hover">
											<span class="icon small">
												<i class="material-icons">delete</i>
											</span><!-- <span class="text">Eliminar</span> -->
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="pl-12">
							<div class="border-l b-gray b-2">
								<p class="fs-m p-16">Lorem ipsum</p>
							</div>
						</div>
					</div>
				</section>
				<section class="pt-16">
					<div class="fs-b fc-opacity mb-4">Archivos</div>
					<div class="list-element hover">
						<div class="ref">
							<span class="fc-white mini" [style.backgroundColor]="colors.getColor('2')">
								<label class="title-smaller size-24">
									<i class="material-icons">insert_drive_file</i>
								</label>
							</span>
						</div><div class="info">
							<div class="p-16">
								<div class="col-auto va-m">
									<h3 class="fw-n mb-4">
										Documento
									</h3>
									<p class="fc-opacity">
										<b class="fw-500">Creado el dd/mm/yyyy</b>
									</p>
								</div>
								<div class="col-auto va-m float-right">
									<button class="btn-icon hover" title="Descargar">
										<span class="icon small">
											<i class="material-icons">file_download</i>
										</span><!-- <span class="text">Editar</span> -->
									</button>
									<button class="btn-icon hover" *ngIf="auth.getUser()._id == owner">
										<span class="icon small" title="Eliminar">
											<i class="material-icons">delete</i>
										</span><!-- <span class="text">Eliminar</span> -->
									</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>	
	</article>
</div>
