<div class="login-container max">
	<div class="inner">
		<section class="logo-container align-center mb-24">
			<img src="assets/icons/logo.png" class="icon big va-m mr-16"><span class="va-m">
				<h1 class="fc-primary title-big fw-300">SMDE</h1>
			</span>
		</section>
		<article class="bg-white border b-light border-radius">
			<div class="p-24">
				<div class="title-container align-center">
					<h2 class="title-big pt-8 fc-secondary fw-300">Registrarse</h2>
				</div>
				<form (submit)="signup()">
					<div class="pt-40">
						<div class="icon-field">
							<div class="field">
								<img src="assets/icons/account-black.png" class="icon opacity">
								<label class="opacity fw-b fs-s">Nombre(s)</label>
								<input type="text" [(ngModel)]="user.name" name="name" placeholder="Nombre(s)">
							</div>
							<div class="field mt-8">
								<img src="assets/icons/account-black.png" class="icon opacity">
								<label class="opacity fw-b fs-s">Apellidos</label>
								<input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Apellidos">
							</div>
							<div class="field mt-8">
								<img src="assets/icons/email-black.png" class="icon opacity">
								<label class="opacity fw-b fs-s">Correo Electrónico</label>
								<input type="text" [(ngModel)]="user.mail" name="mail" placeholder="Correo Electrónico">
							</div>
							<div class="field mt-8">
								<img src="assets/icons/account-black.png" class="icon opacity">
								<label class="opacity fw-b fs-s">Nombre de usuario</label>
								<input type="text" [(ngModel)]="user.nick" name="nick" placeholder="Nombre de Usuario">
							</div>
							<div class="field mt-8">
								<img src="assets/icons/phone-black.png" class="icon opacity">
								<label class="opacity fw-b fs-s">Teléfono</label>
								<input type="text" [(ngModel)]="user.phone" name="phone" placeholder="Teléfono">
							</div>
							<div class="field mt-8">
								<img src="assets/icons/calendar-black.png" class="icon opacity">
								<label class="opacity fw-b fs-s">Fecha de nacimiento</label>
								<input type="text" [(ngModel)]="user.birthDay" name="birthDay" placeholder="Fecha de nacimiento (dd/mm/yyyy)">
							</div>
							<div class="field mt-8">
								<img src="assets/icons/account-black.png" class="icon opacity">
								<label class="opacity fw-b fs-s">Tipo de Usuario</label>
								<select [(ngModel)]="user.privilege" name="userType">
									<option *ngFor="let t of USER-TYPES; let i = index" [value]="i">{{ t }}</option>
								</select>
							</div>												
							<div class="field mt-8">
								<img src="assets/icons/lock-black.png" class="icon opacity">
								<label class="opacity fw-b fs-s">Contraseña</label>
								<input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña">
							</div>
							<div class="field mt-8">
								<img src="assets/icons/lock-black.png" class="icon opacity">
								<label class="opacity fw-b fs-s">Confirmar Contraseña</label>
								<input type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" placeholder="Contraseña">
							</div>
						</div>
					</div>
					<div class="pt-16">
						<input type="submit" value="Registrarse" class="btn btn-primary btn-full">
					</div>
				</form>
				<div class="pt-24 align-right">
					<a routerLink="/login">
						<button class="btn bg-trans-secondary">
							Iniciar Sesión
						</button>
					</a>
				</div>
			</div>
		</article>
	</div>
</div>
