<div class="page-container">
	<div class="pop-up-container" id="user-add">
		<div class="pop-up-back" onclick="showPopup(false, '#user-add')"></div>
		<div class="pop-up">
			<div class="inner border-radius">
				<div class="border-b b-light">
					<div class="pop-up-title fc-opacity">
						<h1 class="title">
							Nuevo Usuario
						</h1>
						<div class="close-button">
							<button class="btn-icon hover" onclick="showPopup(false, '#user-add')">
								<span class="icon">
									<i class="material-icons fc-opacity">arrow_back</i>
								</span>
							</button>
						</div>
					</div>
				</div>
				<form class="padding-block" autocomplete="off" (submit)="addUser()">
					<input style="display:none" type="text" name="user"/>
					<input style="display:none" type="password" name="password"/>
					<div class="daalign-centerontainer">
						<h2 class="title-medium mb-24 fc-secondary">Datos</h2>
						<div class="pl-8 pr-8">
							<div class="field-container pb-24">
								<div class="field mt-8">
									<label class="opacity fw-b fs-s">Nombre(s)</label>
									<input type="text" [(ngModel)]="user.name" name="name" placeholder="Nombre(s)"/>
								</div>
								<div class="field mt-8">
									<label class="opacity fw-b fs-s">Apellidos</label>
									<input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Apellidos"/>
								</div>
								<div class="field mt-8">
									<label class="opacity fw-b fs-s">Correo</label>
									<input type="text" [(ngModel)]="user.mail" name="mail" placeholder="Correo Electrónico"/>
								</div>
								<div class="field mt-8">
									<label class="opacity fw-b fs-s">Télefono</label>
									<input type="text" [(ngModel)]="user.phone" name="phone" placeholder="Teléfono"/>
								</div>
								<div class="field mt-8">
									<label class="opacity fw-b fs-s">Fecha de Nacimiento</label>
									<input type="text" [(ngModel)]="user.birthDay" name="birthday" placeholder="Fecha (dd/mm/yyyy)" value=""/>
								</div>
								<div class="field mt-8">
									<label class="opacity fw-b fs-s">Tipo</label>
									<select [(ngModel)]="user.privilege" name="area">
										<option value="1" selected="selected">Alumno</option>
										<option value="2">Profesor</option>
										<option value="3">Administrador</option>
									</select>
								</div>
								<div class="field mt-8">
									<label class="opacity fw-b fs-s">Sexo</label>
									<select [(ngModel)]="user.sex" name="area">
										<option value="0" selected="selected">Hombre</option>
										<option value="1">Mujer</option>
										<option value="2">Otro</option>
									</select>
								</div>
								<div class="field mt-8">
									<label class="opacity fw-b fs-s">Contraseña Nueva</label>
									<input type="password" [(ngModel)]="user.password" name="newpassword" placeholder="Contraseña Nueva" value="" />
								</div>
							</div>
							<div class="align-right">
								<input type="submit" class="btn btn-primary" value="Agregar">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="page-container-in">
		<section class="list">
			<div class="p-16 resp-title ">
				<button class="btn btn-primary" onclick="showPopup(true, '#user-add')">
					<span class="icon">
						<i class="material-icons">add</i>
					</span><span class="text">Nuevo</span>
				</button>
			</div>
			<div class="p-32" *ngIf="users?.length < 1">
				<h2 class="title-big fw-300 fc-lightgray">
					Ningun usuario por el momento
				</h2>
			</div>
			<ul class="list ml-8 mr-8">
				<li class="list-element hover" *ngFor="let user of users;let i = index" [ngClass]="{ 'border-t b-light': i > 0 }">
					<a routerLink="{{ user._id }}">
						<div class="ref">
							<div class="pt-4"></div>
							<div class="img-container border-radius">
								<img [src]="user.profilePhoto ? 'media/'+user._id+'/profile/'+user.profilePhoto : 'assets/icons/default-profile.png'">
							</div>
						</div><div class="info">
							<div class="p-16">
								<h3 class="fw-n">
									{{ user.name }} {{ user.lastName }}
								</h3>
								<p class="pt-4 pb-4 fc-opacity">
									<b class="fw-500">{{ user.mail }}</b>
								</p>
								<p class="fc-opacity">
									<b>{{ USER-TYPES[user.privilege] }}</b>
								</p>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</section>
	</div>
</div>
