<div class="bar">
	<div class="logo">
		<img src="http://localhost:3000/icon.png">
	</div><div class="search">
		<div class="search_inner">
			<input type="text" placeholder="¿Qué servicio necesitas?" /><button>
				<img src="./icons/magnify_white.png" class="icon">
			</button>
		</div>
	</div><button class="menu_button" id="menu_button" onclick="showMenu()">
		<div class="inner">
			<span class="shadow"></span>
			<span class="shadow"></span>
			<span class="shadow"></span>
		</div>
	</button>
</div>
<div class="menu" id="menu_hidden">
	<div class="img_container">
		<img src="http://zastask.com/static/assets/images/black_background.jpg" class="img_h100">
	</div>
	<div class="inner">
		<div class="user_container">
			<div class="user_img">
				<img src="https://lh3.googleusercontent.com/-8ncHVONM8jY/WA42t9hQN1I/AAAAAAAABP4/tU8p6Lcfcm8cQHXXxkrgvinhpbWRBTHrACEw/w140-h140-p/1d2582f8-7909-401e-94c6-829fda9fe74b" class="adjustable img_h100" />
			</div><div class="data">
				<div class="name">Fulano de Tal</div>
				<div class="email">fulano@gmail.com</div>
			</div>
		</div>
		<div class="bottom_container">
			<div class="items_container">
				<a href='/'>
					<nav>
						<span><img src="./icons/home_white.png"></span>
						<h4>Inicio</h4>
					</nav>
				</a>
				<nav>
					<span><img src="./icons/request_white.png"></span>
					<h4>Solicitudes</h4>
				</nav>
				<nav>
					<span><img src="./icons/mail_white.png"></span>
					<h4>Mensajes</h4>
				</nav>
				<nav>
					<span><img src="./icons/account_white.png"></span>
					<h4>Cuenta</h4>
				</nav>
				<nav>
					<span><img src="./icons/settings_white.png"></span>
					<h4>Ajustes</h4>
				</nav>
			</div>
			<div class="buttons_container">
				<div class="col2">
					<a href='/login'>
						<button class="bg_darkgray pd_16 font_color_white">Iniciar Sesión</button>
					</a>
				</div><div class="col2">
					<button class="bg_gray pd_16 font_color_white">Registrarse</button>
				</div>
				<div>
                    <button class="bg_darkgray logout pd_16 font_color_white">Salir</button>
                </div>
			</div>
		</div>
	</div> 
</div>