.bar{
	width: 100%;
	height: 48px;
	position: fixed;
	z-index: 199;
}

.logo{
	width: 56px;
	display: inline-block;
	vertical-align: top;
	height: inherit;
}

.logo img{
	width: 96%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	margin: 0 auto;
}

.search{
	display: inline-block;
	height: inherit;
	vertical-align: top;
	width: calc(100% - 104px);
}

.search_inner{
	height: inherit;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
}

.search input[type="text"]{
	color: #fff;
	background-color: transparent;
	width: calc(100% - 64px);
	height: 100%;
	border: none;
	outline: none;
	padding: 0 8px 0 8px;
	display: inline-block;
	vertical-align: top;
}

.search input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  text-shadow: 0px 1px 1px #616161;
}
.search input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  text-shadow: 0px 1px 1px #616161;
}
.search input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  text-shadow: 0px 1px 1px #616161;
}
.search input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  text-shadow: 0px 1px 1px #616161;
}

.search button{
	width: 48px;
	height: inherit;
	background-color: transparent;
	display: inline-block;
	border: none;
	vertical-align: top;
	line-height: 48px;
	padding: 0;
}

.search button img{
	vertical-align: middle;
	margin: 0;
}

.menu_button{
	outline: none;
	cursor: pointer;
	width: 48px;
	height: inherit;
	display: inline-block;
	border: none;
	background: transparent;
	padding: 0;
	text-align: center;
}

.menu_button .inner{
	width: 30px;
	margin: 0 auto;
}

.menu_button span{
	display: block;
	width: auto;
	height: 2px;
	margin: 4px;
	background: #fff;
	position: relative;
}

.menu{
	position: fixed;
	width: calc(100% - 48px);
	height: calc(100% - 48px);
	max-width: 300px;
	right: -100%;
	top: 48px;
	z-index: 198;
}

.menu_shadow{
	box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
}

.menu .img_container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.menu .inner{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: relative;
	z-index: 2;
	overflow: auto;
}

.user_container{
	padding: 16px;
	color: #fff;
	font-size: 12px;
}

.user_container .user_img{
	height: 56px;
	width: 56px;
	border-radius: 60px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-right: 16px;
	vertical-align: bottom;
}

.user_container .data{
	display: inline-block;
	width: calc(100% - 72px);
	vertical-align: bottom;
	text-align: right;
}

.user_container .name{
	margin-top: 8px;
	font-size: 14px; 
}

.user_container .email{
	opacity: 0.8;
	font-size: 11px;
}

.bottom_container{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.buttons_container{
	margin-top: 10px;
}

.buttons_container .col2{
	display: inline-block;
	width: 50%;
}

.buttons_container div button{
	width: 100%;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}

nav{
	width: auto;
	padding: 12px 20px 12px 20px;
	color: #fff;
	cursor: pointer;
}

nav:hover{
	background-color: rgba(255, 255, 255, 0.2);
}

nav span{
	display: inline-block;
	margin-right: 24px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

nav h4{
	display: inline-block;
	margin: 0;
	width: auto;
	vertical-align: middle;
	font-size: 13px;
}

nav span img{
	width: 100%;
	height: 100%;
}

.logout:hover{
	background-color: rgb(237, 38, 71) !important;
}

@media screen and (max-height: 470px){
	.bottom_container{
		position: relative;
	}
}

@media screen and (min-width: 768px){
	.bar{
		height: 56px;
	}
	.logo{
		width: 64px;
	}
	.search{
		width: calc(100% - 120px);
	}
	.search_inner{
		max-width: 500px;
	}
	.search input[type="text"]{
		width: calc(100% - 88px);
		padding: 0 16px 0 16px;
		font-size: 14px;
	}
	.search button{
		width: 56px;
	}
	.menu_button{
		width: 56px;
	}
	.menu{
		height: calc(100% - 56px);
		top: 56px;
		max-width: 320px;
	}
}

@media screen and (min-width: 1024px){
	.menu{
		max-width: 350px;
	}
	.search_inner{
		max-width: 600px;
		margin: 0 auto;
	}
	.logo img{
		left: 8px;
	}

}

