<article class="messages-container bg-white">
	<section class="left-grid">
		<div class="full-h border-r b-light">
			<div class="top-actions icon-field border-b b-light">
				<div class="field-cont bg-semiwhite" id="msm-search">
					<div class="p-8">
						<div class="field">
							<span class="icon cursor-pointer">
								<i class="material-icons fc-lightgray">search</i>
							</span>
							<input type="text" name="msm-search" placeholder="Buscar">
							<span class="icon close hover-light circle" onclick="showHiddenBlock(false, $('#msm-search'))">
								<i class="material-icons fc-lightgray">close</i>
							</span>
						</div>
					</div>
				</div>
				<div class="align-right p-8">
					<button class="btn-icon hover" title="Buscar" onclick="showHiddenBlock(true, $('#msm-search'))">
						<span class="icon">
							<i class="material-icons">search</i>
						</span>
					</button>
					<button class="btn-icon hover" title="Nuevo Mensaje">
						<span class="icon">
							<i class="material-icons">chat</i>
						</span>
					</button>
					<span class="size-40 pos-r va-m">
						<button class="options-button btn-icon hover" title="Menú">
							<span class="icon">
								<i class="material-icons">more-vert</i>
							</span>
						</button>
						<div class="hidden-options">
							<ul class="bg-white pb-8 pt-8 border-radius border b-gray shadow-flat">
								<li class="p-8 pl-16 pr-16 hover">
									<span>No leidos</span>
								</li>
								<li class="p-8 pl-16 pr-16 hover">
									<span>Archivados</span>
								</li>
								<li class="p-8 pl-16 pr-16 hover-red">
									Eliminar Conversación
								</li>
							</ul>
						</div>
					</span>
				</div>
			</div>
			<div class="list msm-list">
				<ul class="list-scroll full">
					<li class="list-element max-h pos-r hover-light">
						<div class="ref">
							<div class="pt-2 pl-2">
								<div class="img-container">
									<img src="assets/icons/default-profile.png">
								</div>
							</div>
						</div><div class="info">
							<div class="p-16">
								<h3 class="fw-n">
									Usuario
								</h3>
								<p class="fw-500 pt-4 pb-4 fc-opacity">
									Mensaje Mensaje Mensaje Mensaje Mensaje Mensaje Mensaje Mensaje
								</p>
								<p class="fc-lightgray fs-s">
									dd mm hh
								</p>
							</div>
						</div>
						<div class="mini-mark">
							<button class="options-button btn-icon small bg-trans-secondary">
								<i class="material-icons">&#xE313;</i>
							</button>
							<div class="hidden-options">
								<div class="bg-white pb-8 pt-8 border-radius border b-gray shadow-flat">
									<p class="p-8 pl-16 pr-16 hover">
										<span>Marcar leido</span>
									</p>
									<p class="p-8 pl-16 pr-16 hover">
										<span>Archivar</span>
									</p>
									<p class="p-8 pl-16 pr-16 hover">
										<span>Eliminar</span>
									</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section><section class="right-grid">
		<div class="full-h">
			<div class="msm-container">
				<div class="top-actions icon-field border-b b-light">
					<div class="field-cont max" id="msm-search-chat">
						<div class="p-8">
							<div class="field">
								<span class="icon cursor-pointer">
									<i class="material-icons fc-lightgray">search</i>
								</span>
								<input type="text" name="msm-search-chat" placeholder="Buscar">
								<span class="icon close hover-light circle" onclick="showHiddenBlock(false, $('#msm-search-chat'))">
									<i class="material-icons fc-lightgray">close</i>
								</span>
							</div>
						</div>
					</div>
					<div class="align-right p-8">
						<div class="p-info">
							<div class="col-auto va-m img-container size-40 border-radius">
								<img src="assets/icons/default-profile.png">
							</div><div class="col-auto va-m ml-16 name">
								<span class="fs-m">Usuario</span>
							</div>
						</div>
						<button class="btn-icon hover" title="Buscar" onclick="showHiddenBlock(true, $('#msm-search-chat'))">
							<span class="icon">
								<i class="material-icons">search</i>
							</span>
						</button>
						<button class="btn-icon hover" title="Agregar participantes">
							<span class="icon">
								<i class="material-icons">group-add</i>
							</span>
						</button>
						<button class="btn-icon hover" title="Adjuntar Archivo">
							<span class="icon">
								<i class="material-icons">attach-file</i>
							</span>
						</button>
						<span class="size-40 pos-r va-m">
							<button class="options-button btn-icon hover" title="Menú">
								<span class="icon">
									<i class="material-icons">more-vert</i>
								</span>
							</button>
							<div class="hidden-options">
								<ul class="bg-white pb-8 pt-8 border-radius border b-gray shadow-flat">
									<li class="p-8 pl-16 pr-16 hover">
										<span>Multimedia</span>
									</li>
									<li class="p-8 pl-16 pr-16 hover">
										<span>Ver Perfil</span>
									</li>
									<li class="p-8 pl-16 pr-16 hover">
										Seleccionar Mensajes
									</li>
									<li class="p-8 pl-16 pr-16 hover">
										<span>Archivar</span>
									</li>
									<li class="p-8 pl-16 pr-16 hover">
										<span>Eliminar Mensajes</span>
									</li>
									<li class="p-8 pl-16 pr-16 hover-red">
										Eliminar Conversación
									</li>
								</ul>
							</div>
						</span>
					</div>
				</div>
				<div class="msm-list bg-semiwhite">
					<div class="list-scroll full">
						<div class="pd-block">
							<ul class="list">
								<li class="align-left mb-16">
									<div class="list-element pos-r">
										<div class="ref">
											<div class="img-container mini ml-0 mt-0">
												<img src="assets/icons/default-profile.png">
											</div>
										</div><div class="info">
											<div class="p-12 bg-white border-radius-max border b-light">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
												</p>
												<p class="fc-opacity fs-s mt-4">
													hh dd mm
												</p>
											</div>
										</div>
										<div class="mini-mark">
											<button class="options-button btn-icon small bg-trans-secondary">
												<i class="material-icons">&#xE313;</i>
											</button>
											<div class="hidden-options">
												<div class="bg-white pb-8 pt-8 border-radius border b-gray shadow-flat">
													<p class="p-8 pl-16 pr-16 hover">
														<span>Marcar leido</span>
													</p>
													<p class="p-8 pl-16 pr-16 hover">
														<span>Reenviar</span>
													</p>
													<p class="p-8 pl-16 pr-16 hover">
														<span>Eliminar</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="align-right mb-16">
									<div class="list-element pos-r">
										<div class="p-12 bg-primary border-radius-max border b-light">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
											</p>
											<p class="fc-opacity fs-s mt-4">
												hh dd mm
											</p>
										</div>
										<div class="mini-mark">
											<button class="options-button btn-icon small bg-trans-secondary">
												<i class="material-icons">&#xE313;</i>
											</button>
											<div class="hidden-options">
												<div class="bg-white pb-8 pt-8 border-radius border b-gray shadow-flat fc-n">
													<p class="p-8 pl-16 pr-16 hover">
														<span>Marcar</span>
													</p>
													<p class="p-8 pl-16 pr-16 hover">
														<span>Reenviar</span>
													</p>
													<p class="p-8 pl-16 pr-16 hover">
														<span>Eliminar</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="msm-field border-t b-light">
				<div class="left">
					<div class="field">
						<textarea type="text" name="msm-text" placeholder="Mensaje"></textarea>
					</div>
				</div>
				<div class="right">
					<button class="btn-icon mt-8 ml-4 bg-trans-secondary" disabled="true" title="enviar">
						<span class="icon">
							<i class="material-icons fc-opacity">send</i>
						</span>
					</button>
				</div>
			</div>
		</div>
	</section>
</article>