<div class="pop_up_container" id="courses-add">
	<div class="pop_up_back" onclick="showPopup(false, '#courses-add')"></div>
	<div class="pop_up big">
		<div class="inner border_radius">
			<div class="border_b b_light">
				<div class="pop_up_title fc_opacity">
					<h1 class="title">
						Nuevo Curso
					</h1>
					<div class="close_button">
						<button class="btn_icon hover" onclick="showPopup(false, '#courses-add')">
							<span class="icon">
								<i class="material-icons fc_opacity">arrow_back</i>
							</span>
						</button>
					</div>
				</div>
			</div>
			<form class="padding_block col_r" (submit)="addCourse($event)">
				<div class="data_container">
					<h2 class="title_medium mb_24 fc_primarylight">Información de Curso</h2>
					<div class="pl_8 pr_8">
						<div class="field_container pb_24">
							<div class="field mt_8">
								<label class="fc_lightgray fw_b fs_s">Nombre</label>
								<input type="text" [(ngModel)]="course.name" name="name" placeholder="Nombre del Curso" />
							</div>
							<div class="field mt_12">
								<label class="fc_lightgray fw_b fs_s">Etiquetas</label>
								<div class="pt_4 pb_4 tags_container fc_white" *ngIf="course.tags?.length > 0">
									<div class="col_a" *ngFor="let tag of course.tags" [@toggleSize]>
										<span class="bg_blue va_m tag big">
											<span class="ml_4 mr_4">
												{{ tag }}
											</span><span class="icon va_m small hover circle" (click)="removeTag(tag)">
												<i class="material-icons">close</i>
											</span>
										</span>
									</div>
								</div>
								<input type="text" [(ngModel)]="tagsString" name="tags" placeholder="Agrega etiquetas (Temas de interés, Especialidades, Materias)" (keydown)="addTag($event)" (keyup)="tagsString != null ? displayingTags = findTagCoincidences(tagsString, this.hiddenTags) : displayingTags = []">
								<div class="list_scroll mini bg_white shadow_flat" [hidden]="displayingTags?.length < 1">
									<div class="p_12 hover" *ngFor="let tag of displayingTags; let i=index" (click)="addTag($event, tag)" [ngClass]=" { 'bg_lightblue': i == selectedDisplayTag } " [focused]="i == selectedDisplayTag">
										{{ tag }}
									</div>
								</div>
							</div>
							<div class="mt_12">
								<h4 class="fc_lightgray fw_b fs_s">Hacer Privado</h4>
								<div class="mt_8">
									<label class="switch">
										<input type="checkbox" name="isPrivate" [(ngModel)]="course.isPrivate">
										<span class="slider"></span>
									</label>
								</div>
							</div>
							<div class="field mt_12">
								<label class="fc_lightgray fw_b fs_s">Descipción</label>
								<textarea [(ngModel)]="course.description" name="description" placeholder="Agrega una descipción"></textarea>
							</div>
						</div>
						<div class="ta_r">
							<input type="submit" class="btn btn_primary" value="Crear Curso">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="page_container course_list">
	<div class="page_container_in">
		<section class="list">
			<div class="p_16 resp_title ">
				<button class="btn btn_primary" onclick="showPopup(true, '#courses-add')">
					<span class="va_m icon">
						<i class="material-icons">add</i>
					</span><span class="va_m">
						Nuevo Curso
					</span>
				</button>
			</div>
			<div class="p_32 pt_64 ta_c" *ngIf="courses?.length < 1">
				<h2 class="title_big fw_l opacity">
					Ningun curso por el momento
				</h2>
				<div class="mt_48">
					<button class="btn btn_primary" onclick="showPopup(true, '#courses-add')">
						<span class="va_m icon">
							<i class="material-icons">add</i>
						</span><span class="va_m ml_4">
							Nuevo Curso
						</span>
					</button>
				</div>
			</div>
			<section class="col_r resp_list ta_c">
				<article class="col_2 ta_l" *ngFor="let course of courses">
					<div class="resp_item border bg_white b_light border_radius mb_16 b_trans">
						<a routerLink="/cursos/{{ course._id }}">
							<div class="list_element">
								<div class="ref">
									<span class="fc_white" [style.backgroundColor]="colors.getColor(course.name)">
										<label class="title_smaller size_24">{{ course.name.charAt(0) }}</label>
									</span>
								</div><div class="info">
									<div class="p_16">
										<h3 class="fw_n mb_4">
											{{ course.name }}
										</h3>
										<p class="fc_opacity">
											<b class="fw_500">Creado el {{ course.createdDate | formatDate }}</b>
										</p>
									</div>
								</div>
							</div>
							<div class="p_12 pl_16 pr_16 fc_white">
								<div class="tags_container">
									<div class="col_a" *ngFor="let tag of course.tags; let i = index">
										<span class="bg_blue tag">
											{{ tag }}
										</span>
									</div>
								</div>
							</div>
							<div class="p_16 pt_0" *ngIf="course.description">
								<p class="p_8 fs_b fc_gray">{{ course.description }}</p>
							</div>
							<div class="list_element">
								<div class="pl_12 pr_12 opacity">
									<b>Creado por:</b>
								</div>
								<a href="/perfil/{{ course.user.id }}">
									<div class="fc_trans_blue">
										<div class="ref">
											<div class="img_container mini">
												<img [src]="course.user.profilePhoto ? '/media/'+course.user.id+'/profile/'+ course.user.profilePhoto : 'assets/icons/default_profile.png'">
											</div>
										</div><div class="info">
											<div class="p_16">
												<h3 class="fw_n">
													{{ course.user.name }} {{ course.user.lastName }}
												</h3>
												<p class="fc_opacity mt_4">
													<b class="fw_500">{{ course.user.mail }}</b>
												</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</a>
					</div>	
				</article>
			</section>
			<div class="p_32" *ngIf="courses?.length > 0"></div>
		</section>
	</div>
</div>
