<div class="pop-up-container" id="courses-add">
	<div class="pop-up-back" onclick="showPopup(false, '#courses-add')"></div>
	<div class="pop-up big">
		<div class="inner border-radius">
			<div class="border-b b-light">
				<div class="pop-up-title fc-opacity">
					<h1 class="title">
						Nuevo Curso
					</h1>
					<div class="close-button">
						<button class="btn-icon hover" onclick="showPopup(false, '#courses-add')">
							<span class="icon">
								<i class="material-icons fc-opacity">arrow_back</i>
							</span>
						</button>
					</div>
				</div>
			</div>
			<form class="padding-block col-r" (submit)="addCourse($event)">
				<div class="daalign-centerontainer">
					<h2 class="title-medium mb-24 fc-primarylight">Información de Curso</h2>
					<div class="pl-8 pr-8">
						<div class="field-container pb-24">
							<div class="field mt-8">
								<label class="fc-lightgray fw-b fs-s">Nombre</label>
								<input type="text" [(ngModel)]="course.name" name="name" placeholder="Nombre del Curso" />
							</div>
							<div class="field mt-12">
								<label class="fc-lightgray fw-b fs-s">Etiquetas</label>
								<div class="pt-4 pb-4 tags-container fc-white" *ngIf="course.tags?.length > 0">
									<div class="col-auto" *ngFor="let tag of course.tags" [@toggleSize]>
										<span class="bg-blue va-m tag big">
											<span class="ml-4 mr-4">
												{{ tag }}
											</span><span class="icon va-m small hover circle" (click)="removeTag(tag)">
												<i class="material-icons">close</i>
											</span>
										</span>
									</div>
								</div>
								<input type="text" [(ngModel)]="tagsString" name="tags" placeholder="Agrega etiquetas (Temas de interés, Especialidades, Materias)" (keydown)="addTag($event)" (keyup)="tagsString != null ? displayingTags = findTagCoincidences(tagsString, this.hiddenTags) : displayingTags = []">
								<div class="list-scroll mini bg-white shadow-flat" [hidden]="displayingTags?.length < 1">
									<div class="p-12 hover" *ngFor="let tag of displayingTags; let i=index" (click)="addTag($event, tag)" [ngClass]=" { 'bg-lightblue': i == selectedDisplayTag } " [focused]="i == selectedDisplayTag">
										{{ tag }}
									</div>
								</div>
							</div>
							<div class="mt-12">
								<h4 class="fc-lightgray fw-b fs-s">Hacer Privado</h4>
								<div class="mt-8">
									<label class="switch">
										<input type="checkbox" name="isPrivate" [(ngModel)]="course.isPrivate">
										<span class="slider"></span>
									</label>
								</div>
							</div>
							<div class="field mt-12">
								<label class="fc-lightgray fw-b fs-s">Descipción</label>
								<textarea [(ngModel)]="course.description" name="description" placeholder="Agrega una descipción"></textarea>
							</div>
						</div>
						<div class="align-right">
							<input type="submit" class="btn btn-primary" value="Crear Curso">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="course-list">
	<div class="container">
		<section class="list">
			<div class="p-16 resp-title">
				<button class="btn btn-primary" onclick="showPopup(true, '#courses-add')">
					<span class="va-m icon">
						<i class="material-icons">add</i>
					</span><span class="va-m">
						Nuevo Curso
					</span>
				</button>
			</div>
			<div class="p-32 pt-64 align-center" *ngIf="courses?.length < 1">
				<h2 class="title-big fw-l opacity">
					Ningun curso por el momento
				</h2>
				<div class="mt-48">
					<button class="btn btn-primary" onclick="showPopup(true, '#courses-add')">
						<span class="va-m icon">
							<i class="material-icons">add</i>
						</span><span class="va-m ml-4">
							Nuevo Curso
						</span>
					</button>
				</div>
			</div>
			<div class="row align-center">
				<article class="col-12 col-md-6 col-lg-4 align-left" *ngFor="let course of courses">
					<div class="resp-item card b-trans">
						<a routerLink="/cursos/{{ course._id }}">
							<div class="list-element">
								<div class="ref">
									<span class="fc-white" [style.backgroundColor]="colors.getColor(course.name)">
										<label class="title-smaller size-24">{{ course.name.charAt(0) }}</label>
									</span>
								</div><div class="info">
									<div class="p-16">
										<h3 class="fw-n mb-4">
											{{ course.name }}
										</h3>
										<p class="fc-opacity">
											<b class="fw-500">Creado el {{ course.createdDate | formatDate }}</b>
										</p>
									</div>
								</div>
							</div>
							<div class="p-12 pl-16 pr-16 fc-white">
								<div class="tags-container">
									<div class="col-auto" *ngFor="let tag of course.tags; let i = index">
										<span class="bg-blue tag">
											{{ tag }}
										</span>
									</div>
								</div>
							</div>
							<div class="p-16 pt-0" *ngIf="course.description">
								<p class="p-8 fs-b fc-gray">{{ course.description }}</p>
							</div>
							<div class="list-element">
								<div class="pl-12 pr-12 opacity">
									<b>Creado por:</b>
								</div>
								<a href="/perfil/{{ course.user.id }}">
									<div class="fc-trans-blue">
										<div class="ref">
											<div class="img-container mini">
												<img [src]="course.user.profilePhoto ? mediaSrc+course.user.id+'/profile/'+ course.user.profilePhoto : 'assets/icons/default-profile.png'">
											</div>
										</div><div class="info">
											<div class="p-16">
												<h3 class="fw-n">
													{{ course.user.name }} {{ course.user.lastName }}
												</h3>
												<p class="fc-opacity mt-4">
													<b class="fw-500">{{ course.user.mail }}</b>
												</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</a>
					</div>	
				</article>
			</div>
			<div class="p-32" *ngIf="courses?.length > 0"></div>
		</section>
	</div>
</div>
