<div class="pop-up-container" id="user-edit">
	<div class="pop-up-back" onclick="showPopup(false, '#user-edit')"></div>
	<div class="pop-up">
		<div class="inner border-radius">
			<div class="border-b b-light">
				<div class="pop-up-title fc-opacity">
					<h1 class="title">
						Editar Usuario
					</h1>
					<div class="close-button">
						<button class="btn-icon hover" onclick="showPopup(false, '#user-edit')">
							<span class="icon">
								<i class="material-icons fc-opacity">arrow_back</i>
							</span>
						</button>
					</div>
				</div>
			</div>
			<form class="padding-block" (submit)="updateUser()">
				<div class="daalign-centerontainer">
					<h2 class="title-medium mb-24 fc-secondary">Datos</h2>
					<div class="pl-8 pr-8">
						<div class="field-container pb-24">
							<div class="field mt-8">
								<label class="opacity fw-b fs-s">Nombre(s)</label>
								<input type="text" [(ngModel)]="user.name" name="name" placeholder="Nombre(s)" />
							</div>
							<div class="field mt-8">
								<label class="opacity fw-b fs-s">Apellidos</label>
								<input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Apellidos"/>
							</div>
							<div class="field mt-8">
								<label class="opacity fw-b fs-s">Correo</label>
								<input type="text" [(ngModel)]="user.mail" name="mail" placeholder="Correo Electrónico"/>
							</div>
							<div class="field mt-8">
								<label class="opacity fw-b fs-s">Télefono</label>
								<input type="text" [(ngModel)]="user.phone" name="phone" placeholder="Teléfono"/>
							</div>
							<div class="field mt-8">
								<label class="opacity fw-b fs-s">Fecha de Nacimiento</label>
								<input type="text" [(ngModel)]="formatedUserBirth" name="birthDay" placeholder="Fecha (dd/mm/yyyy)" />
							</div>
							<div class="field mt-8">
								<label class="opacity fw-b fs-s">Tipo</label>
								<select [(ngModel)]="user.privilege" name="area">
									<option value="1" selected="selected">Alumno</option>
									<option value="2">Profesor</option>
									<option value="3">Administrador</option>
								</select>
							</div>
							<div class="field mt-8">
								<label class="opacity fw-b fs-s">Sexo</label>
								<select [(ngModel)]="user.sex" name="area">
									<option value="0" selected="selected">Hombre</option>
									<option value="1">Mujer</option>
									<option value="2">Otro</option>
								</select>
							</div>
						</div>
						<div class="align-right">
							<input type="submit" class="btn btn-primary" value="Guardar Cambios">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="page-container">
	<div class="page-container-in">
		<div class="mb-24">
			<div class="p-16 resp-title ">
				<a routerLink="/admin/usuarios">
					<button class="btn btn-primary">
						<span class="icon">
							<i class="material-icons">arrow_back</i>
						</span><span class="text">Atras</span>
					</button>
				</a>
			</div>
			<section class="border-radius mb-12 pos-r">
				<div class="profile-display">
					<div class="background bg-primarydark">
						<div class="img-container" *ngIf="user.backPhoto != undefined && user.backPhoto != ''">
							<img src="/media/{{ user._id }}/background/{{ user.backPhoto }}" adjustable>
						</div>
						<div class="bg-opacity" *ngIf="user.backPhoto != undefined && user.backPhoto != ''"></div>
					</div>
					<div class="profile-photo fc-white">
						<div class="inner">
							<div class="img-container border-radius-max shadow-flat">
								<img [src]="user.profilePhoto && user.profilePhoto != '' ? '/media/'+user._id+'/profile/'+user.profilePhoto : 'assets/icons/default-profile.png'">
							</div><div class="info">
								<h3 class="title-smaller">
									{{ user.name }} {{ user.lastName }}
								</h3>
								<p class="opacity mt-8">
									<b class="fs-b fw-500">{{ user.mail }}</b>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="align-right p-12 pr-16">
					<button class="btn bg-trans-secondary float-left">
						<span class="icon small">
							<i class="material-icons">chat</i>
						</span><span class="text">Enviar Mensaje</span>
					</button>
					<button class="btn-icon hover" onclick="showPopup(true, '#user-edit')">
						<span class="icon">
							<i class="material-icons">mode_edit</i>
						</span><!-- <span class="text">Editar</span> -->
					</button>
					<button class="btn-icon bg-trans-red" (click)="setConfirmation($event, 'deleteCourse')">
						<span class="icon">
							<i class="material-icons">delete</i>
						</span><!-- <span class="text">Eliminar</span> -->
					</button>
				</div>
				<div class="col-s align-center m-8 bg-white border b-light border-radius">
					<div class="col-3">
						<div class="p-12">
							<h4 class="fw-500 opacity">Tipo</h4>
							<h2 class="fw-500 fs-b mt-4">{{ USER-TYPES[user.privilege] }}</h2>
						</div>
					</div><div class="col-3">
						<div class="p-12">
							<h4 class="fw-500 opacity">Cursos</h4>
							<h2 class="fw-500 fs-b mt-4" *ngIf="user.courses?.length > 0">{{ user.courses?.length }}</h2>
							<h2 class="fw-500 fs-b mt-4" *ngIf="user.courses?.length < 1 || user.courses == undefined">0</h2>
						</div>
					</div><div class="col-3">
						<div class="p-12">
							<h4 class="fw-500 opacity">Promedio</h4>
							<h2 class="fw-500 fs-b mt-4">0.0</h2>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="p-16 resp-title">
					<h2 class="title-small fc-secondary">
						Información
					</h2>
				</div>
				<div class="m-8 bg-white border b-light border-radius">
					<div class="p-16">
						<div class="mb-12">
							<p class="opacity fw-b mb-4">Clave de Usuario</p>
							<p class="fs-b">
								<img class="icon opacity va-m m-8" src="assets/icons/lock-black.png">
								<span class=" va-m ml-8">
									{{ user._id }}
								</span>
							</p>
						</div>
						<div class="mb-12">
							<p class="opacity fw-b mb-4">Teléfono</p>
							<p class="fs-b">
								<img class="icon opacity va-m m-8" src="assets/icons/phone-black.png">
								<span class=" va-m ml-8">
									{{ user.phone }}
								</span>
							</p>
						</div>
						<div>
							<p class="opacity fw-b mb-4">Dirección</p>
							<p class="fs-b">
								<img class="icon opacity va-m m-8" src="assets/icons/map-marker-black.png">
								<span class="va-m ml-8 opacity">
									<b>Sin dirección</b>
								</span>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section *ngIf="user.privilege != 0">
				<div class="p-16 resp-title">
					<h2 class="title-small fc-secondary">
						Cursos
					</h2>
				</div>
				<div class="p-32 align-center" *ngIf="user.courses?.length < 1">
					<h2 class="title-big fw-300 fc-lightgray">
						Ningun curso por el momento
					</h2>
				</div>
				<ul class="list" *ngIf="user.courses?.length > 0">
					<li class="list-element" *ngFor="let course of user.courses">
						<div class="ref">
							<span class="circle">
								<label class="title-smaller fw-l fc-white size-24">{{ (course.name).charAt(0) }}</label>
							</span>
						</div><div class="info">
							<button class="options-button hover-lightgray size-32 align-center circle">
								<img class="icon va-m opacity" src="assets/icons/dots-vertical-black.png">
							</button>
							<div class="hidden-options">
								<div class="bg-white pb-8 pt-8 shadow-flat border-radius fw-500">
									<a>
										<p class="p-8 pl-16 pr-16 hover fc-red">
											Eliminar
										</p>
									</a>
								</div>
							</div>
							<div class="p-12 pl-16 pr-16">
								<div class="mb-8">
									<h3 class="fw-500 mb-4">
										{{ course.subject.name }}
									</h3>
									<p class="opacity">
										<b>{{ course.group.name }}</b>
									</p>
									<div class="mt-8">
										<p class="opacity">
											Nivel Asignatura: <b>{{ course.subject.level }}</b>
										</p>
										<p class="opacity">
											Nivel Grupo: <b>{{ course.group.level }}</b>
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>

