<app-confirmation [alert]="alert" (onSelection)="doConfirmation($event)"></app-confirmation>
<div class="pop-up-container" id="groups-admin">
	<div class="pop-up-back" onclick="showPopup(false, '#groups-admin')"></div>
	<div class="pop-up">
		<div class="inner border-radius">
			<app-groups [course]="course._id" [groups]="course.groups" [members]="course.members" (onUpdate)="fetchCourse()" *ngIf="course.groups"></app-groups>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<section class="col-12 col-md-5 col-lg-4">
			<div class="p-16 resp-title">
				<a routerLink="/cursos">
					<button class="btn bg-trans-red">
						<span class="va-m icon">
							<i class="material-icons">arrow_back</i>
						</span><span class="va-m">
							Regresar
						</span>
					</button>
				</a>
			</div>
			<div class="card" *ngIf="course.name">
				<div class="list-element">
					<div class="ref">
						<span class="fc-white" [style.backgroundColor]="colors.getColor(course.name)">
							<label class="title-smaller size-24">{{ course.name.charAt(0) }}</label>
						</span>
					</div><div class="info">
						<div class="p-16">
							<h3 class="fw-n mb-4">
								{{ course.name }}
							</h3>
							<p class="fc-opacity">
								<b class="fw-500">Creado el {{ course.createdDate | formatDate }}</b>
							</p>
						</div>
					</div>
				</div>
				<div class="align-right p-12 pr-16" *ngIf="auth.getUser()._id == course.user.id">
					<button class="btn bg-trans-secondary float-left" onclick="showPopup(true, '#groups-admin')">
						<span class="icon small">
							<i class="material-icons">group</i>
						</span><span class="text">Grupos</span>
					</button>
					<button class="btn-icon hover">
						<span class="icon">
							<i class="material-icons">mode_edit</i>
						</span><!-- <span class="text">Editar</span> -->
					</button>
					<button class="btn-icon bg-trans-red" (click)="setConfirmation($event, 'deleteCourse')">
						<span class="icon">
							<i class="material-icons">delete</i>
						</span><!-- <span class="text">Eliminar</span> -->
					</button>
				</div>
				<div class="p-12 pr-16 pl-16" *ngIf="auth.getUser()._id != course.user.id">
					<button class="btn border-radius fw-b" [ngClass]="{ 'fc-green bg-trans-red' : isSuscribed(), 'bg-trans-blue' : !isSuscribed() }" (click)="setConfirmation($event, isSuscribed() ? 'unsuscribe': 'suscribe')" (mouseover)="suscribeAction = false" (mouseleave)="suscribeAction = true">
						<div *ngIf="isSuscribed()">
							<span class="icon va-m">
								<i class="material-icons">{{ suscribeAction ? 'check' : 'close' }}</i>
							</span><span class="va-m fs-m">
								{{ suscribeAction ? 'Inscrito(a)' : 'Cancelar Inscripción' }}
							</span>
						</div>
						<div *ngIf="!isSuscribed()">
							<span class="va-m fs-m">
								Inscribirse
							</span>
						</div>
					</button>
				</div>
				<div class="inner-info">
					<div class="p-12 pl-16 pr-16 fc-white">
						<div class="tags-container">
							<div class="col-auto" *ngFor="let tag of course.tags">
								<span class="bg-blue tag">
									{{ tag }}
								</span>
							</div>
						</div>
					</div>
					<div class="p-16 pt-0" *ngIf="course.description">
						<p class="p-8 fs-b fc-gray">{{ course.description }}</p>
					</div>
					<div class="list-element" *ngIf="course.user">
						<div class="pl-12 pr-12 opacity">
							<b>Creado por:</b>
						</div>
						<a href="/perfil/{{ course.user.id }}">
							<div class="fc-trans-blue">
								<div class="ref">
									<div class="img-container mini">
										<img [src]="course.user.profilePhoto ? mediaSrc+course.user.id+'/profile/'+course.user.profilePhoto : 'assets/icons/default-profile.png'">
									</div>
								</div><div class="info">
									<div class="p-16">
										<h3 class="fw-n mb-4">
											{{ course.user.name }} {{ course.user.lastName }}
										</h3>
										<p class="fc-opacity">
											<b class="fw-500">{{ course.user.mail }}</b>
										</p>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="col-12 col-md-7 col-lg-8">
			<div class="pt-24">
				<div class="h-selection align-center">
					<div class="in min fc-primary">
						<div class="item hover-primary" (click)="displayedList = 0" [class.bg-primary]="displayedList == 0">
							<h3>Contenidos</h3>
						</div><div class="item hover-primary" (click)="displayedList = 1" [class.bg-primary]="displayedList == 1">
							<h3>Actividades</h3>
						</div><div class="item hover-primary" (click)="displayedList = 2" [class.bg-primary]="displayedList == 2">
							<h3>Miembros{{ course.members?.length > 0 ? ' ('+course.members?.length+')' : '' }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="list mb-24 o-h">
				<section *ngIf="displayedList == 0">
					<app-contents [owner]="course.user.id" *ngIf="course.user"></app-contents>
				</section>
				<section *ngIf="displayedList == 1">
					
				</section>
				<section *ngIf="displayedList == 2">
					<div class="p-32 align-center" *ngIf="course.members?.length < 1">
						<h2 class="title-big fw-l opacity">
							Ningun miembro por el momento
						</h2>
					</div>
					<ul class="pl-12 pr-12" *ngIf="course.members">
						<li class="border-radius hover" *ngFor="let member of course.members;let i = index" [ngClass]="{'border-t b-light': i > 0}">
							<a href="/perfil/{{ member.user._id }}">
								<div class="list-element fc-trans-blue">
									<div class="ref">
										<div class="img-container border-radius">
											<img [src]="member.user.profilePhoto && member.user.profilePhoto != '' ? mediaSrc +member.user._id+'/profile/'+member.user.profilePhoto : 'assets/icons/default-profile.png'">
										</div>
									</div><div class="info">
										<div class="p-16">
											<h3 class="fw-500">
												{{ member.user.name }} {{ member.user.lastName }}
											</h3>
											<p class="fc-opacity pt-4">
												<b class="fw-500">{{ member.user.mail }}</b>
											</p>
											<p class="fc-n pt-4" *ngIf="member.group && member.group != ''">
												<b class="fw-500">Grupo:</b> {{ getMemberGroup(member.group) }}
											</p>
										</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</section>
			</div>
		</section>
	</div>
</div>
