<div class="subjects_container">
	<div class="pop_up_container" id="subjects-add">
		<div class="pop_up_back" onclick="showPopup(false, '#subjects-add')"></div>
		<div class="pop_up">
			<div class="inner border_radius">
				<div class="bg_primary">
					<div class="text_align_right">
						<button class="pd_8 circle hover_black" onclick="showPopup(false, '#subjects-add')">
							<img class="icon" src="assets/icons/close_white.png">
						</button>
					</div>
					<div class="pop_up_title font_white">
						<h1 class="title_big font_lightnormal">
							Agregar asignatura
						</h1>
					</div>
				</div>
				<form class="pd_16 padding_block" (submit)="addSubject()">
					<div class="data_container">
						<h2 class="title_medium mr_bottom_24 font_secondary">Datos</h2>
						<div class="pd_left_8 pd_right_8">
							<div class="field_container pd_bottom_24">
								<div class="field">
									<label class="opacity font_bold font_small">Clave</label>
									<input type="text" [(ngModel)]="subject.key" name="key" placeholder="Clave de Asignatura"/>
								</div>
								<div class="field mr_top_8">
									<label class="opacity font_bold font_small">Nombre</label>
									<input type="text" [(ngModel)]="subject.name" name="nombre" placeholder="Nombre de Asignatura"/>
								</div>
								<div class="field mr_top_8">
									<label class="opacity font_bold font_small">Nivel</label>
									<input type="text" [(ngModel)]="subject.level" name="nivel" placeholder="Nivel de Asignatura"/>
								</div>
								<div class="field mr_top_8">
									<label class="opacity font_bold font_small">Área</label>
									<input type="text" [(ngModel)]="subject.area" name="area" placeholder="Nivel de Asignatura"/>
								</div>
							</div>
							<div class="field text_align_right">
								<input type="submit" class="bg_secondary font_white shadow_raised" value="Agregar">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<section class="list">
		<div class="pd_16">
			<button class="pd_8 pd_right_12 bg_secondary shadow_raised border_radius" onclick="showPopup(true, '#subjects-add')">
				<img class="v_align_middle icon" src="assets/icons/plus_white.png">
				<b class="v_align_middle mr_left_4 font_normal">Agregar Asignatura</b>
			</button>
		</div>
		<div class="pd_32" *ngIf="subjects?.length < 1">
			<h2 class="title_big font_normal opacity">
				Ninguna asignatura por el momento
			</h2>
		</div>
		<div class="bg_white shadow_flat border_radius mr_bottom_12" *ngFor="let subject of subjects">
			<div class="list_element">
				<div class="ref">
					<span class="circle bg_secondary">
						<label class="title_smaller font_light font_white size_24">{{ subject.name.charAt(0) }}</label>
					</span>
				</div><div class="info">
					<div class="pd_12 pd_left_16 pd_right_16">
						<div class="mr_bottom_8">
							<h3 class="font_normal mr_bottom_4">
								{{ subject.name }}
							</h3>
							<p class="opacity">
								<b>Nivel: {{ subject.level }}</b>
							</p>
						</div>
						<p>
							Área: {{ subject.area }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

