.main_img{
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.main_img .bg_trans{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

.main_img .title{
  width: auto;
  padding: 0 48px 0 48px;
  font-weight: lighter;
  font-size: 32px;
  text-align: center;
  position: relative;
  top: calc(50% - 24px);
  transform: translateY(-50%);
}

.logsign_cont{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.logsign_cont button{
  cursor: pointer;
  width: 100%;
  padding: 18px;
  font-size: 16px;
}

.logsign_cont button:hover{
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.users_container{
  margin: 0 auto;
  max-width: 900px;
}

.users_container .col2{
  display: inline-block;
  width: 100%;
}

.user{
  margin-bottom: 12px;
}

.user .email{
  margin-top: 4px;
  opacity: 0.6;
}

@media screen and (min-width: 768px){

  .main_img .title{
    top: calc(50% - 30px);
    font-size: 40px;
  }

  .logsign_cont button{
    font-size: 17px;
    padding: 24px;
  }

  .users_container .col2{
    width: 50%;
  }

}

@media screen and (min-width: 1024px){

  .main_img .title{
    font-size: 56px;
  }

}