<section class="app-bar-back"></section>
<section class="app-bar border-b b-gray">
	<div class="app-bar-inner">
		<div class="bar-top">
			<div class="action-button ad-lh">
				<a routerLink="/">
					<div class="col-auto logo-container hover">
						<img class="icon va-m" src="assets/icons/logo.png">
					</div>
				</a>
			</div>
			<div class="float-right full-h">
				<div class="action-button ad-lh searchbar-container">
					<button class="btn-icon ml-4 mr-4 hover" id="search-icon" title="Buscar" onclick="showSearchBar(true)">
						<img class="icon va-m" src="assets/icons/magnify_black.png">
					</button>
					<div class="searchbar" id="search-bar">
						<div class="field">
							<button onclick="showSearchBar(false)">
								<img class="icon opacity" src="assets/icons/arrow-left_black.png">
							</button>
							<button class="close">
								<img class="icon opacity" src="assets/icons/magnify_black.png">
							</button>
							<input id="search-bar-input" type="text" placeholder="Buscar">
						</div>
					</div>
				</div><div class="action-button ad-lh">
					<a href="/mensajes" class="va-m">
						<button class="btn-icon ml-4 mr-4 hover" id="msm-open-button" title="Abrir Mensajes">
							<img class="icon va-m" src="assets/icons/email_black.png">
						</button>
					</a>
				</div><div class="action-button ad-lh hidden-block-container notif">
					<app-notifications></app-notifications>
				</div><div class="va-t hidden-block-container prof-container ad-lh pl-16 pr-16 hover" id="menu-pphoto">
					<div class="img-container circle size-32 va-m cursor-pointer">
						<img [src]="user.profilePhoto ? userSrc + '/profile/'+user.profilePhoto : 'assets/icons/default-profile.png'">
					</div><span class="ml-8 name fw-500 va-m">{{ user.name }}</span>
					<div class="hidden-block" id="options-mini">
						<i class="mark bg-white"></i>
						<div class="bg-white border b-gray shadow-raised border-radius">
							<section class="mm-section border-b b-light pt-12 pb-12 z-2 bg-white">
								<div class="pl-16 pr-16 fc-opacity">
									<p class="fs-s">Iniciado con:</p>
									<p class="fw-b mt-4">{{ user.mail }}</p>
								</div>
							</section>
							<section class="mm-section border-b b-light pt-8 pb-8 fw-n fc-gray">
								<a href="/perfil" routerLinkActive="fc-primary">
									<div class="p-8 pl-16 pr-16 hover">
										<span class="va-m icon small">
											<i class="material-icons">&#xE853;</i>
										</span><span class="va-m ml-12">Cuenta</span>
									</div>
								</a>
								<a routerLink="/ayuda" routerLinkActive="fc-blue">
									<div class="p-8 pl-16 pr-16 hover">
										<span class="va-m icon small">
											<i class="material-icons">help</i>
										</span><span class="va-m ml-12">Ayuda</span>
									</div>
								</a>
								<a href="/ajustes" routerLinkActive="fc-blue">
									<div class="p-8 pl-16 pr-16 hover">
										<p>
											<span class="va-m icon small">
												<i class="material-icons">settings</i>
											</span><span class="va-m ml-12">Ajustes</span>
										</p>
									</div>
								</a>
							</section>
							<section class="mm-section pt-4 pb-4">
								<button class="w-100 fc-red bg-trans-red" (click)="logout()">
									<div class="p-8 fw-b">Cerrar Sesión</div>
								</button>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bar-bottom">
			<div class="menu">
				<nav class="item hover ad-lh" *ngIf="user.privilege != 0">
					<a routerLink="/cursos" routerLinkActive="fc-primarydark">
						<div class="inner">
							<span class="icon va-m">
								<i class="material-icons">book</i>
							</span><span class="va-m ml-8 label">
								Cursos
							</span>
						</div>
					</a>
				</nav><nav class="item hover ad-lh" *ngIf="user.privilege == 0">
					<a routerLink="/admin" routerLinkActive="fc-primarydark">
						<div class="inner">
							<span class="icon va-m">
								<i class="material-icons">mode_edit</i>
							</span><span class="va-m ml-8 label">
								Administrador
							</span>
						</div>
					</a>
				</nav><nav class="item hover ad-lh">
					<a routerLink="/agenda" routerLinkActive="fc-primarydark">
						<div class="inner">
							<span class="icon va-m">
								<i class="material-icons">event</i>
							</span><span class="va-m ml-8 label">
								Agenda
							</span>
						</div>
					</a>
				</nav><nav class="item hover ad-lh">
					<a routerLink="/foro" routerLinkActive="fc-primarydark">
						<div class="inner">
							<span class="icon va-m">
								<i class="material-icons">forum</i>
							</span><span class="va-m ml-8 label">
								Foro
							</span>
						</div>
					</a>
				</nav><nav class="item hover ad-lh">
					<a routerLink="/contenidos" routerLinkActive="fc-primarydark">
						<div class="inner">
							<span class="icon va-m">
								<i class="material-icons">&#xE02F;</i>
							</span><span class="va-m ml-8 label">
								Contenidos
							</span>
						</div>
					</a>
				</nav>
			</div>
		</div>
	</div>
</section>
