<section class="app_bar_back"></section>
<section class="app_bar bg_primary shadow_flat">
	<div class="app_bar_inner">
		<div class="bar_top">
			<a href="/">
				<div class="auto_col logo_container hover_white">
					<img class="icon v_align_middle" src="assets/icons/logo_flat_white.png">
				</div>
			</a>
			<div class="float_right">
				<div class="auto_col v_align_top searchbar_container">
					<button class="action_button pd_left_8 pd_right_8 hover_white" id="search-icon" title="Buscar" onclick="showSearchBar(true)">
						<img class="icon v_align_middle mr_left_4 mr_right_4" src="assets/icons/magnify_white.png">
					</button>
					<div class="searchbar" id="search-bar">
						<div class="field">
							<button onclick="showSearchBar(false)">
								<img class="icon" src="assets/icons/arrow-left_white.png">
							</button>
							<button class="close">
								<img class="icon" src="assets/icons/magnify_white.png">
							</button>
							<input class="bg_primary_dark" type="text" placeholder="Buscar">
						</div>
					</div>
				</div><div class="auto_col v_align_top messages_button">
					<a href="/mensajes">
						<button class="action_button pd_left_8 pd_right_8 hover_white" id="msm-open-button" title="Abrir Mensajes">
							<img class="icon v_align_middle mr_left_4 mr_right_4" src="assets/icons/email_white.png">
						</button>
					</a>
				</div><div class="auto_col v_align_top hidden_block_container notif">
					<button class="action_button pd_left_8 pd_right_8 hover_white" id="notif-open-button" title="Ver Notificaciones">
						<img class="icon v_align_middle mr_left_4 mr_right_4" src="assets/icons/bell_white.png">
					</button>
					<div class="hidden_block" id="notif-mini">
						<i class="mark bg_white"></i>
						<div class="bg_white shadow_flat border_radius notif_container">
							<section class="mm_section border_bottom pd_top_12 pd_bottom_12">
								<div class="pd_left_16 pd_right_16">
									<p class="opacity font_small">Notificaciones</p>
								</div>
							</section>
							<section class="mm_section border_bottom">
								<div class="list">
									<div class="list_element hover_black">
										<div class="ref">
											<span class="circle bg_secondary">
												<label class="title_smaller font_light font_white size_24">N</label>
											</span>
										</div><div class="info">
											<div class="pd_12 pd_left_16 pd_right_16">
												<h3 class="font_normal mr_bottom_8">
													Lorem Ipsum
												</h3>
												<p class="opacity">
													Lorem ipsum dolor sit amet consectetur
												</p>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="mm_section">
								<button class="w_100 font_red hover_black">
									<div class="pd_8 font_secondary">Ver todas</div>
								</button>
							</section>
						</div>
					</div>
				</div><div class="auto_col v_align_top hidden_block_container prof_container pd_left_16 pd_right_16 hover_white" id="menu-pphoto">
					<div class="img_container circle auto_col size_32 v_align_middle cursor_pointer">
						<img src="assets/icons/default_profile.png" *ngIf="user.profilePhoto == undefined || user.profilePhoto == ''">
						<img src="/media/{{ user._id }}/profile/{{ user.profilePhoto }}" *ngIf="user.profilePhoto != undefined && user.profilePhoto != ''">
					</div>
					<span class="mr_left_8 font_white">{{ user.name }}</span>
					<div class="hidden_block" id="options-mini">
						<i class="mark bg_white"></i>
						<div class="bg_white shadow_flat border_radius">
							<section class="mm_section border_bottom pd_top_12 pd_bottom_12">
								<div class="pd_left_16 pd_right_16 opacity">
									<p class="font_small">Iniciado con:</p>
									<p class="font_bold mr_top_4">{{ user.mail }}</p>
								</div>
							</section>
							<section class="mm_section border_bottom pd_top_8 pd_bottom_8 font_normal font_color_normal">
								<a href="/perfil">
									<div class="pd_8 pd_left_16 pd_right_16 hover_black">
										<p>Cuenta</p>
									</div>
								</a>
								<a href="/ayuda">
									<div class="pd_8 pd_left_16 pd_right_16 hover_black">
										<p>Ayuda</p>
									</div>
								</a>
								<a href="/ajustes">
									<div class="pd_8 pd_left_16 pd_right_16 hover_black">
										<p>Ajustes</p>
									</div>
								</a>
							</section>
							<section class="mm_section pd_top_4 pd_bottom_4">
								<button class="w_100 font_red red_trans" (click)="logout()">
									<div class="pd_8 font_bold">Cerrar Sesión</div>
								</button>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bar_bottom">
			<div class="menu font_black">
				<nav class="item hover_white" *ngIf="user.privilege != 0" [ngClass]="{'active font_white': getActive('cursos')}">
					<a href="/cursos">
						<div class="inner">
							<img class="icon" src="assets/icons/book-multiple_white.png" *ngIf=" getActive('cursos') "><img class="icon" src="assets/icons/book-multiple_black.png" *ngIf=" !getActive('cursos') "><span>
								Cursos
							</span>
						</div>
					</a>
				</nav><nav class="item hover_white" *ngIf="user.privilege == 0" [ngClass]="{'active font_white': getActive('admin')}">
					<a href="/admin">
						<div class="inner">
							<img class="icon" src="assets/icons/edit_white.png" *ngIf=" getActive('admin') "><img class="icon" src="assets/icons/edit_black.png" *ngIf=" !getActive('admin') "><span>
								Administrador
							</span>
						</div>
					</a>
				</nav><nav class="item hover_white" [ngClass]="{'active font_white': getActive('agenda')}">
					<a href="/agenda">
						<div class="inner">
							<img class="icon" src="assets/icons/calendar_white.png" *ngIf=" getActive('agenda') "><img class="icon" src="assets/icons/calendar_black.png" *ngIf=" !getActive('agenda') "><span>
								Agenda
							</span>
						</div>
					</a>
				</nav><nav class="item hover_white" [ngClass]="{'active font_white': getActive('foro')}">
					<a href="/foro">
						<div class="inner">
							<img class="icon" src="assets/icons/forum_white.png" *ngIf=" getActive('foro') "><img class="icon" src="assets/icons/forum_black.png" *ngIf=" !getActive('foro') "><span>
								Foro
							</span>
						</div>
					</a>
				</nav><nav class="item hover_white" [ngClass]="{'active font_white': getActive('contenidos')}">
					<a href="/contenidos">
						<div class="inner">
							<img class="icon" src="assets/icons/book-open_white.png" *ngIf=" getActive('contenidos') "><img class="icon" src="assets/icons/book-open_black.png" *ngIf=" !getActive('contenidos') "><span>
								Contenidos
							</span>
						</div>
					</a>
				</nav>
			</div>
		</div>
	</div>
</section>
