<div class="login_super">
	<img src="http://www.defe.mx/_/rsrc/1424788247901/mexico-df/monumentos/angel-independencia/%C3%81ngel%20de%20la%20Independencia%20atardecer.jpg" class="adjustable img_bg">
	<div class="bg_trans">
		<div class="inner shadow">
			<div class="logo_container">
				<a href="/home">
					<img src="./images/logo.png" />
				</a>
			</div>
		</div>
		<div class="login_container">
			<div class="title">Iniciar Sesión</div>
			<form>
				<div class="login_form">
					<div class="item">
						<img src="./icons/account_black.png" class="icon" />
						<input type="text" name="" class="textfield" placeholder="Correo electrónico">
					</div>
					<div class="line_separator"></div>
					<div class="item">
						<img src="./icons/lock_black.png" class="icon" />
						<input type="password" name="" class="textfield" placeholder="Contraseña">
					</div>
					<div class="submit_container">
						<input type="submit" value="Iniciar">
					</div>
				</div>
			</form>
			<div class="forgot_title">Olvide mi contraseña</div>
			<div class="bottom_container">
				<div class="pd_8 txt_align_center bottom_text">
					O inicia sesión con
				</div>
				<div class="col2 bg_blue">
					<button class="pd_16 font_color_white">
						<img src="./icons/facebook_white.png" class="icon">
						<div class="col-auto">Facebook</div>
					</button>
				</div><div class="col2 bg_red">
					<button class="pd_16 font_color_white">
						<img src="./icons/google-plus_white.png" class="icon">
						<div class="col-auto">Google</div>
					</button>
				</div>
				<div>
					<button class="pd_16 reg_button">
						Registrarse
					</button>
				</div>
			</div>
		</div>
	</div>
</div>