<div class="page-container">
	<div class="page-container-in">
		<div class="pt-24 pb-16">
			<div class="h-selection align-center">
				<div class="in border-radius bg-white border b-gray fc-gray">
					<div class="item hover-primary border-r b-gray" routerLink="usuarios" routerLinkActive="bg-primary">
						<h3>Usuarios</h3>
					</div><div class="item hover-primary border-r b-gray">
						<h3>Actividad</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="admin-page">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>