<button class="btn-icon ml-4 mr-4 hover" id="notif-open-button" title="Ver Notificaciones">
	<img class="icon va-m" src="assets/icons/bell_black.png">
	<i class="indicator circle bg-red fc-white" *ngIf="getUnreadNotif() > 0">{{ getUnreadNotif() }}</i>
</button>
<div class="hidden-block" id="notif-mini">
	<i class="mark bg-white"></i>
	<div class="bg-white border b-gray shadow-raised border-radius notif-container">
		<section class="mm-section border-b b-light bg-white pt-12 pb-12 z-2">
			<div class="pl-16 pr-16">
				<p class="fw-500 fc-opacity">Notificaciones</p>
			</div>
		</section>
		<section class="mm-section">
			<div class="p-24 align-center opacity" *ngIf="notifications?.length < 1">
				<img class="size-48 mb-16 opacity" src="/assets/icons/block-big_black.png">
				<h2 class="align-center title-smaller fw-300">
					Aun no hay notificaciones
				</h2>
			</div>
			<ul class="list" (scroll)="onScroll($event)">
				<li class="list-element pos-r" *ngFor="let notif of notifications; let i = index">
					<a routerLink="{{notif.redirect}}">
						<div [ngClass]="{'cursor-pointer bg-superlightblue': !notif.read, 'hover-light': notif.read, 'border-t b-light': i > 0 }" (click)="!notif.read ? markRead(true, notif) : null">
							<div class="ref">
								<div class="img-container mini">
									<img [src]="notif.responsibleUsers[0].profilePhoto ? mediaSrc+notif.responsibleUsers[0]._id+'/profile/'+notif.responsibleUsers[0].profilePhoto : '/assets/icons/default-profile.png'">
								</div>
							</div><div class="info">
								<div class="p-12 pl-16 pr-16">
									<div class="mb-8">
										<div class="display-inline" *ngIf="notif.responsibleUsers?.length > 2">
											<b>
												{{ notif.responsibleUsers[0].name }} {{ notif.responsibleUsers[0].lastName }}
											</b>
											y {{ notif.responsibleUsers?.length - 1 }} personas más {{ getText(notif.action, 0) }}
										</div>
										<div class="display-inline" *ngIf="notif.responsibleUsers?.length <= 2">
											<span *ngFor="let user of notif.responsibleUsers; let j = index">
												<b>
													{{ user.name }} {{ user.lastName }}
												</b>
												{{ j < 1 && notif.responsibleUsers?.length > 1 ? 'y' : '' }}
											</span>
										</div>
										<span class="display-inline" *ngFor="let part of getText(notif.action)">
											<label class="cursor-pointer" [class.fw-b]="part.elem">{{ part.text }}</label>
										</span>
									</div>
									<p class="fs-s">
										<b class="fw-500 opacity">{{ notif.date | formatDate: 'time' }}</b>
									</p>
								</div>
							</div>
						</div>
					</a>
					<div class="mini-mark">
						<button class="btn-icon small" [ngClass]="{'hover-blue': notif.read, 'hover-red': !notif.read}" (click)="markRead(false, notif)" [title]="!notif.read ? 'Marcar como leido' : 'Marcar como no leido'">
							<i class="material-icons" *ngIf="!notif.read">close</i>
							<i class="material-icons" *ngIf="notif.read">check</i>
						</button>
					</div>
				</li>
				<li class="fw-500 fc-opacity align-center" *ngIf="isLoading">
					<p class="p-8">
						No hay mas notificaciones
					</p>
				</li>
			</ul>
		</section>
	</div>
</div>
