<app-menu *ngIf="auth.loggedIn()"></app-menu>
<article class="admin_container">
	<section>
		<div class="auto_col">
			<a href="/admin/usuarios" class="font_secondary">
				<div class="pd_12 hover_black font_normal">
					Usuarios
				</div>
			</a>
		</div><div class="auto_col">
			<a href="/admin/asignaturas" class="font_secondary">
				<div class="pd_12 hover_black font_normal">
					Asignaturas
				</div>
			</a>
		</div><div class="auto_col">
			<a href="/admin/grupos" class="font_secondary">
				<div class="pd_12 hover_black font_normal">
					Grupos
				</div>
			</a>
		</div><div class="auto_col">
			<a href="/admin/cursos" class="font_secondary">
				<div class="pd_12 hover_black font_normal">
					Cursos
				</div>
			</a>
		</div>
	</section>
	<router-outlet></router-outlet>
</article>