@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/* Master Styles */
* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #f2f2f2;
}

my-app{
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

button{
  border: none;
  background-color: transparent;
}

.col-auto{
  display: inline-block;
  width: auto;
}

app-bar{
  width: 100%;
  height: auto;
}

login-component{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.space{
  width: 100%;
  height: 48px;
}

.font_small{
  font-size: 14px;
}

.font_medium{
  font-size: 22px !important;
}

.icon{
  width: 24px;
  height: 24px;
}

.shadow{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
}

.text_shadow{
  text-shadow: 0 1px 1px #424242;
}

img.blur_img{
    -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
}

img.adjustable{
  display: block;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
}

.img_w100{
  width: 100% !important;
  height: auto !important;
}

.img_h100{
  width: auto !important;
  height: 100% !important;
}

.overflow_hidden{
  overflow: hidden;
}

.overflow_auto{
  overflow: auto;
}

.relative_position{
  position: relative;
}

.pointer{
  cursor: pointer;
}

.float_left{
  float: left;
}
.float_right{
  float: right;
}

.hover_item{
  cursor: pointer;
}

.hover_item:hover{
  background-color: rgba(0, 0, 0, 0.06);
}

.bg_white{background-color: #fff !important;}
.bg_darkblue{background-color: #0D47A1 !important;}
.bg_blue{background-color: #2196F3 !important;}
.bg_lightblue{background-color: #03A9F4 !important;}
.bg_cyan{background-color: #00BCD4 !important;}
.bg_indigo{background-color: #3F51B5 !important;}
.bg_teal{background-color: #009688 !important;}
.bg_green{background-color: #4CAF50 !important;}
.bg_lightgreen{background-color: #8BC34A !important;}
.bg_lime{background-color: #CDDC39 !important;}
.bg_orange{background-color: #FF9800 !important;}
.bg_darkorange{background-color: #FF5722 !important;}
.bg_red{background-color: #F44336 !important;}
.bg_purple{background-color: #9C27B0 !important;}
.bg_darkpurple{background-color: #673AB7 !important;}
.bg_pink{background-color: #E91E63 !important;}
.bg_lightpink{background-color: #FF4081 !important;}
.bg_yellow{background-color: #FFEB3B !important;}
.bg_amber{background-color: #FFC107 !important;}
.bg_brown{background-color: #795548 !important;}
.bg_bluegray{background-color: #607D8B !important;}
.bg_lightgray{background-color: #f6f6f6 !important;}
.bg_gray{background-color: #616161 !important;}
.bg_darkgray{background-color: #212121 !important;}

.font_color_white{color: #fff !important;}
.font_color_darkblue{color: #0D47A1 !important;}
.font_color_blue{color: #2196F3 !important;}
.font_color_lightblue{color: #03A9F4 !important;}
.font_color_cyan{color: #00BCD4 !important;}
.font_color_indigo{color: #3F51B5 !important;}
.font_color_teal{color: #009688 !important;}
.font_color_green{color: #4CAF50 !important;}
.font_color_lightgreen{color: #8BC34A !important;}
.font_color_lime{color: #CDDC39 !important;}
.font_color_orange{color: #FF9800 !important;}
.font_color_darkorange{color: #FF5722 !important;}
.font_color_red{color: #F44336 !important;}
.font_color_purple{color: #9C27B0 !important;}
.font_color_darkpurple{color: #673AB7 !important;}
.font_color_pink{color: #E91E63 !important;}
.font_color_lightpink{color: #FF4081 !important;}
.font_color_yellow{color: #FFEB3B !important;}
.font_color_amber{color: #FFC107 !important;}
.font_color_brown{color: #795548 !important;}
.font_color_bluegray{color: #607D8B !important;}
.font_color_lightgray{color: #f6f6f6 !important;}
.font_color_gray{color: #616161 !important;}
.font_color_darkgray{color: #212121 !important;}

.circle_trans{
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -o-border-radius: 200px;
  -ms-border-radius: 200px;
}

.corner_radius{
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px; 
}

.corner_radius_trans{
  border-radius: 20px 0 20px 0;
  -webkit-border-radius: 20px 0 20px 0;
  -moz-border-radius: 20px 0 20px 0;
  -o-border-radius: 20px 0 20px 0;
  -ms-border-radius: 0 20px 0 20px; 
}

/* HORIZONTAL ALIGNMENT */
.txt_align_center{
  text-align: center;
}
.txt_align_left{
  text-align: left;
}
.txt_align_right{
  text-align: right;
}
.txt_align_justify{
  text-align: justify;
}

/* VERTICAL ALIGNMENT */
.v_align_middle{
  vertical-align: middle;
}
.v_align_top{
  vertical-align: top;
}
.v_align_bottom{
  vertical-align: bottom;
}

/* FONT DENSITY */
.txt_density_light{
  font-weight: lighter !important;
}
.txt_density_bold{
  font-weight: bold !important;
}

.pd_4{
  width: auto;
  padding: 4px;
}

.pd_8{
  width: auto;
  padding: 8px;
}

.pd_12{
  width: auto;
  padding: 12px;
}

.pd_16{
  padding: 16px;
  width: auto;
}

.pd_48{
  padding: 48px;
  width: auto;
}

.mr_b_8{
  margin-bottom: 8px;
}

.mr_t_8{
  margin-top: 8px;
}

.col-md2{
  width: 50%;
  display: inline-block;
}