<div class="list">
	<article>
		<div class="resp_item border bg_white b_light border_radius mb_16 b_trans">
			<div class="list_element">
				<div class="ref">
					<span class="fc_white" [style.backgroundColor]="colors.getColor('Contenido')">
						<label class="title_smaller size_24">C</label>
					</span>
				</div><div class="info">
					<div class="p_16">
						<h3 class="fw_n mb_4">
							Contenido
						</h3>
						<p class="fc_opacity">
							<b class="fw_500">Creado el dd/mm/yyyy</b>
						</p>
					</div>
				</div>
			</div>
			<div class="p_24 pt_0 mt_16">
				<p class="fs_b">Lorem ipsum</p>
			</div>
			<div class="pl_16">
				<div class="title_smaller fc_opacity mb_8">Temas</div>
				<div class="border_l b_secondary b_2">
					<div class="list_element hover">
						<div class="ref">
							<span class="fc_white mini" [style.backgroundColor]="colors.getColor('SubContenido')">
								<label class="title_smaller size_24">S</label>
							</span>
						</div><div class="info">
							<div class="p_16">
								<h3 class="fw_n mb_4">
									SubContenido
								</h3>
								<p class="fc_opacity">
									<b class="fw_500">Creado el dd/mm/yyyy</b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</article>
</div>
