<div class="pop_up_container confirmation" id="confirm-box" *ngIf="message" [@fade]>
	<div class="pop_up_back"></div>
	<div class="pop_up">
		<div class="inner border_radius shadow_raised">
			<div class="p_32">
				<p class="title_small fc_opacity fw_n">{{ message }}</p>
				<div class="mt_32 ta_r">
					<button class="btn btn_outline b_red fc_red bg_trans_red" (click)="cancel()">Cancelar</button>
					<button class="btn btn_primary ml_8" (click)="accept()">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
</div>
