<app-menu *ngIf="auth.loggedIn()"></app-menu>
<div class="courses_container full">
	<div class="pop_up_container" id="groups-add">
		<div class="pop_up_back" onclick="showPopup(false, '#groups-add')"></div>
		<div class="pop_up">
			<div class="inner border_radius">
				<div class="bg_primary">
					<div class="pop_up_title font_white">
						<h1 class="title">
							Administrar Grupos
						</h1>
						<div class="close_button">
							<button class="pd_8 hover_black circle" onclick="showPopup(false, '#groups-add')">
								<img class="icon" src="assets/icons/arrow-left_white.png">
							</button>
						</div>
					</div>
				</div>
				<form class="padding_block" (submit)="addGroups()">
					<div class="text_align_left pd_bottom_24" *ngIf="!newGroup && !selectedGroup">
						<button class="pd_8 pd_right_12 bg_secondary shadow_raised border_radius" (click)="createGroup($event)">
							<img class="v_align_middle icon" src="assets/icons/plus_white.png">
							<b class="v_align_middle mr_left_4 font_normal">Nuevo Grupo</b>
						</button>
					</div>
					<div class="data_container">
						<div class="mr_bottom_24 font_secondary">
							<span class="circle pd_8 icon hover_black v_align_middle mr_right_8" *ngIf="newGroup || selectedGroup != ''" (click)="resetValues()">
								<img class="icon opacity" src="assets/icons/arrow-left_black.png">
							</span><h2 class="auto_col title_medium v_align_middle" *ngIf="newGroup != undefined">
								Nuevo Grupo
							</h2><h2 class="auto_col title_medium v_align_middle" *ngIf="newGroup == undefined">
								{{ selectedGroup == '' ? 'Grupos' : selectedGroup }}
							</h2>
						</div>
						<div class="pd_left_8 pd_right_8" *ngIf="!newGroup && selectedGroup == ''">
							<div class="list_element hover_black" *ngFor="let group of course.groups; let i = index" [ngClass]="{'border_top': i > 0}">
								<div (click)="selectGroup(group.name)">
									<div class="ref">
										<span class="circle bg_opacity_light font_white" [style.background]="group.color">
											<label class="title_smaller font_light size_24">{{ group.name.charAt(0) }}</label>
										</span>
									</div><div class="info">
										<div class="pd_16">
											<h3 class="font_normal mr_bottom_4">{{ group.name }}</h3>
											<p class="opacity">
												<b class="font_normal">0 Miembros</b>
											</p>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="field text_align_right">
								<input type="submit" class="bg_secondary font_white shadow_raised" value="Agregar">
							</div> -->
						</div>
						<div class="pd_left_8 pd_right_8" *ngIf="newGroup != undefined">
							<div class="field">
								<p class="opacity title_smaller mr_bottom_12">Nombre del Grupo</p>
								<input type="text" [(ngModel)]="newGroup.name" name="newGroupname" placeholder="Nombre del Grupo"/>
							</div>
							<div class="list mr_top_24" *ngIf="course.members?.length > 0">
								<h4 class="title_smaller opacity mr_bottom_12">Miembros</h4>
								<div>
									<div class="list_element hover_black" *ngFor="let user of getGroupMembers(); let i = index" [ngClass]="{'border_top': i > 0}">
										<div (click)="some()">
											<div class="ref">
												<div class="img_container circle">
													<img [src]="user.profilePhoto && user.profilePhoto != '' ? '/media/'+user.id+'/profile/'+user.profilePhoto : 'assets/icons/default_profile.png'">
												</div>
											</div><div class="info">
												<div class="pd_16">
													<h3 class="font_normal mr_bottom_4">{{ user.name }} {{ user.lastName }}</h3>
													<p class="opacity">
														<b class="font_normal">{{ user.mail }}</b>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<section class="left_grid">
		<div class="bg_white info_block shadow_flat relative_pos mr_bottom_16">
			<div class="tr_0 h_32">
				<div class="mr_12 size_32 relative_pos">
					<button class="options_button hover_black size_32 text_align_center circle">
						<img class="icon v_align_middle" src="assets/icons/dots-vertical_white.png">
					</button>
					<div class="hidden_options">
						<div class="bg_white pd_bottom_8 pd_top_8 shadow_flat border_radius font_normal" *ngIf="course.user != undefined">
							<p class="pd_8 pd_left_16 pd_right_16 hover_black" (click)="suscribeCourse(!isSuscribed())" *ngIf="course.user.id != auth.getUser()._id">
								<span>
									{{ isSuscribed() ? 'Cancelar Inscripción' : 'Inscribirse'}}
								</span>
							</p>
							<div *ngIf="course.user.id == auth.getUser()._id">
								<p class="pd_8 pd_left_16 pd_right_16 hover_black" >
									Editar
								</p>
								<p class="pd_8 pd_left_16 pd_right_16 hover_black" onclick="showPopup(true, '#groups-add')">
									Administrar grupos
								</p>
								<p class="pd_8 pd_left_16 pd_right_16 font_red hover_black">
									Eliminar
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="profile_display mini">
				<div class="background" [ngStyle]="{ 'background-color': course.color }">
				</div>
				<div class="profile_photo">
					<div class="list_element">
						<div class="ref">
							<span class="circle bg_opacity_light font_white">
								<label class="title_smaller font_light size_24" *ngIf="course.name != undefined">{{ course.name.charAt(0) }}</label>
							</span>
						</div><div class="info font_white">
							<div class="pd_16">
								<h3 class="font_normal mr_bottom_4">
									{{ course.name }}
								</h3>
								<p class="opacity">
									<b class="font_normal">Creado el {{ course.createdDate | formatDate }}</b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="inner_info">
				<div class="pd_12 pd_top_16 font_white">
					<div class="tags_container">
						<div class="auto_col" *ngFor="let tag of course.tags">
							<span class="bg_blue tag">
								{{ tag }}
							</span>
						</div>
					</div>
				</div>
				<div class="pd_16 pd_top_0">
					<h4 class="font_big font_normal opacity">Descripción</h4>
					<p class="pd_top_8 pd_left_12 pd_right_12">{{ course.description }}</p>
				</div>
				<div class="list_element" *ngIf="course.user != undefined">
					<div class="pd_left_12 pd_right_12 opacity">
						<b>Creado por:</b>
					</div>
					<div class="ref">
						<a href="/perfil/{{ course.user.id }}">
							<div class="img_container circle">
								<img [src]="course.user.profilePhoto != undefined && course.user.profilePhoto != null ? '/media/'+course.user.id+'/profile/'+course.user.profilePhoto : 'assets/icons/default_profile.png'">
							</div>
						</a>
					</div><div class="info">
						<div class="pd_16">
							<h3 class="font_normal mr_bottom_4">
								{{ course.user.name }} {{ course.user.lastName }}
							</h3>
							<p class="opacity">
								<b class="font_normal">{{ course.user.mail }}</b>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><section class="right_grid">
		<div class="course_navigation font_secondary mr_bottom_16">
			<nav class="pd_12 title_smaller auto_col cursor_pointer" [ngClass]="{'border_bottom_primary': displayedList == 0 }" (click)="displayedList = 0">
				Contenidos
			</nav><nav class="pd_12 title_smaller auto_col cursor_pointer" [ngClass]="{'border_bottom_primary': displayedList == 1 }" (click)="displayedList = 1">
				Actividades
			</nav><nav class="pd_12 title_smaller auto_col cursor_pointer" [ngClass]="{'border_bottom_primary': displayedList == 2 }" (click)="displayedList = 2">
				Miembros
			</nav>
		</div>
		<div class="list">
			<div class="" [hidden]="displayedList != 0">
				
			</div>
			<div class="" [hidden]="displayedList != 1">
				
			</div>
			<div class="" [hidden]="displayedList != 2">
				<div class="pd_32" *ngIf="course.members?.length < 1">
					<h2 class="title_big font_light opacity">
						Ningun miembro por el momento
					</h2>
				</div>
				<div class="responsive_col resp_list text_align_center" *ngIf="course.members != undefined && course.members?.length > 0">
					<div class="col_2 text_align_left" *ngFor="let member of course.members">
						<div class="bg_white resp_item shadow_flat border_radius mr_bottom_12 relative_pos">
							<div class="tr_0 h_32">
								<div class="mr_12 size_32 relative_pos">
									<button class="options_button hover_black size_32 text_align_center circle">
										<img class="icon v_align_middle" src="assets/icons/dots-vertical_white.png">
									</button>
									<div class="hidden_options">
										<div class="bg_white pd_bottom_8 pd_top_8 shadow_flat border_radius font_normal">
											<a href="/perfil/{{ member.user.id }}">
												<p class="pd_8 pd_left_16 pd_right_16 hover_black">
													Ver Perfil
												</p>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="profile_display mini">
								<div class="background bg_primary_dark">
									<div class="img_container" *ngIf="member.user.backPhoto != undefined && member.user.backPhoto != ''">
										<img src="/media/{{ member.user.id }}/background/{{ member.user.backPhoto }}" adjustable>
									</div>
									<div class="bg_opacity" *ngIf="member.user.backPhoto != undefined && member.user.backPhoto != ''"></div>
								</div>
								<div class="profile_photo font_white">
									<div class="inner">
										<a href="/perfil/{{ member.user.id }}">
											<div class="img_container circle shadow_flat">
												<img src="assets/icons/default_profile.png" *ngIf="member.user.profilePhoto == undefined || member.user.profilePhoto == ''">
												<img src="/media/{{ member.user.id }}/profile/{{ member.user.profilePhoto }}"*ngIf="member.user.profilePhoto != undefined && member.user.profilePhoto != ''">
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="info">
								<div class="pd_16">
									<h3 class="font_normal mr_bottom_4">
										{{ member.user.name }} {{ member.user.lastName }}
									</h3>
									<p class="opacity">
										<b class="font_normal">{{ member.user.mail }}</b>
									</p>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
