<div class="login_container max">
	<div class="inner">
		<section class="logo_container ta_c mb_24">
			<img src="assets/icons/logo.png" class="icon big va_m mr_16"><span class="va_m">
				<h1 class="fc_primary title_big fw_300">SMDE</h1>
			</span>
		</section>
		<article class="bg_white border b_light border_radius">
			<div class="p_24">
				<div class="title_container ta_c">
					<h2 class="title_big pt_8 fc_secondary fw_300">Registrarse</h2>
				</div>
				<form (submit)="signup()">
					<div class="pt_40">
						<div class="icon_field">
							<div class="field">
								<img src="assets/icons/account_black.png" class="icon opacity">
								<label class="opacity fw_b fs_s">Nombre(s)</label>
								<input type="text" [(ngModel)]="user.name" name="name" placeholder="Nombre(s)">
							</div>
							<div class="field mt_8">
								<img src="assets/icons/account_black.png" class="icon opacity">
								<label class="opacity fw_b fs_s">Apellidos</label>
								<input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Apellidos">
							</div>
							<div class="field mt_8">
								<img src="assets/icons/email_black.png" class="icon opacity">
								<label class="opacity fw_b fs_s">Correo Electrónico</label>
								<input type="text" [(ngModel)]="user.mail" name="mail" placeholder="Correo Electrónico">
							</div>
							<div class="field mt_8">
								<img src="assets/icons/account_black.png" class="icon opacity">
								<label class="opacity fw_b fs_s">Nombre de usuario</label>
								<input type="text" [(ngModel)]="user.nick" name="nick" placeholder="Nombre de Usuario">
							</div>
							<div class="field mt_8">
								<img src="assets/icons/phone_black.png" class="icon opacity">
								<label class="opacity fw_b fs_s">Teléfono</label>
								<input type="text" [(ngModel)]="user.phone" name="phone" placeholder="Teléfono">
							</div>
							<div class="field mt_8">
								<img src="assets/icons/calendar_black.png" class="icon opacity">
								<label class="opacity fw_b fs_s">Fecha de nacimiento</label>
								<input type="text" [(ngModel)]="user.birthDay" name="birthDay" placeholder="Fecha de nacimiento (dd/mm/yyyy)">
							</div>
							<div class="field mt_8">
								<img src="assets/icons/account_black.png" class="icon opacity">
								<label class="opacity fw_b fs_s">Tipo de Usuario</label>
								<select [(ngModel)]="user.privilege" name="userType">
									<option *ngFor="let t of userTypes; let i = index" [value]="i">{{ t }}</option>
								</select>
							</div>												
							<div class="field mt_8">
								<img src="assets/icons/lock_black.png" class="icon opacity">
								<label class="opacity fw_b fs_s">Contraseña</label>
								<input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña">
							</div>
							<div class="field mt_8">
								<img src="assets/icons/lock_black.png" class="icon opacity">
								<label class="opacity fw_b fs_s">Confirmar Contraseña</label>
								<input type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" placeholder="Contraseña">
							</div>
						</div>
					</div>
					<div class="pt_16">
						<input type="submit" value="Registrarse" class="btn btn_primary btn_full">
					</div>
				</form>
				<div class="pt_24 ta_r">
					<a routerLink="/login">
						<button class="btn bg_trans_secondary">
							Iniciar Sesión
						</button>
					</a>
				</div>
			</div>
		</article>
	</div>
</div>
