<app-confirmation [message]="" (onSelection)="doConfirmation($event)"></app-confirmation>
<div class="page_container">
	<div class="page_container_in min_res pt_16 pb_16">
		<section class="left_grid">
			<section class="border_b b_light pb_12">
				<h2 class="title_small fc_secondary p_16">
					Cuenta
				</h2>
				<ul class="list fs_m">
					<li class="p_12 pl_16 pr_16 hover">
						Nombre
					</li>
					<li class="p_12 pl_16 pr_16 hover">
						Correo
					</li>
					<li class="p_12 pl_16 pr_16 hover">
						Teléfono
					</li>
					<li class="p_12 pl_16 pr_16 hover">
						Dirección
					</li>
				</ul>
			</section>
			<section class="border_b b_light pt_4 pb_12">
				<h2 class="title_small fc_secondary p_16">
					Notificaciones
				</h2>
				<ul class="list fs_m">
					<li class="p_12 pl_16 pr_16 hover">
						Aplicación
					</li>
					<li class="p_12 pl_16 pr_16 hover">
						Correo
					</li>
					<li class="p_12 pl_16 pr_16 hover">
						Sms
					</li>
				</ul>
			</section>
		</section><section class="right_grid">
			<article class="bg_white border b_light border_radius">
				<div>
					<section class="p_24 border_b b_light">
						<h1 class="title_medium fc_primary">Cuenta</h1>
						<div class="p_8 mt_16">
							<h2 class="title_smaller mb_16 fc_secondary">Nombre</h2>
							<div class="field">
								<input type="text" name="name" placeholder="Nombre" [(ngModel)]="user.name">
							</div>
							<div class="field mt_8">
								<input type="text" name="name" placeholder="Apellido" [(ngModel)]="user.lastName">
							</div>
							<div class="ta_r mt_12">
								<input type="submit" class="btn btn_primary" value="Guardar Cambios">
							</div>
						</div>
					</section>
				</div>
				<div style="height: 200px"></div>
			</article>
		</section>
	</div>
</div>
