<article class="messages_container bg_white">
	<section class="left_grid">
		<div class="full_h border_r b_light">
			<div class="top_actions icon_field border_b b_light">
				<div class="field_cont bg_semiwhite" id="msm-search">
					<div class="p_8">
						<div class="field">
							<span class="icon cursor_pointer">
								<i class="material-icons fc_lightgray">search</i>
							</span>
							<input type="text" name="msm-search" placeholder="Buscar">
							<span class="icon close hover_light circle" onclick="showHiddenBlock(false, $('#msm-search'))">
								<i class="material-icons fc_lightgray">close</i>
							</span>
						</div>
					</div>
				</div>
				<div class="ta_r p_8">
					<button class="btn_icon hover" title="Buscar" onclick="showHiddenBlock(true, $('#msm-search'))">
						<span class="icon">
							<i class="material-icons">search</i>
						</span>
					</button>
					<button class="btn_icon hover" title="Nuevo Mensaje">
						<span class="icon">
							<i class="material-icons">chat</i>
						</span>
					</button>
					<span class="size_40 pos_r va_m">
						<button class="options_button btn_icon hover" title="Menú">
							<span class="icon">
								<i class="material-icons">more_vert</i>
							</span>
						</button>
						<div class="hidden_options">
							<ul class="bg_white pb_8 pt_8 border_radius border b_gray shadow_flat">
								<li class="p_8 pl_16 pr_16 hover">
									<span>No leidos</span>
								</li>
								<li class="p_8 pl_16 pr_16 hover">
									<span>Archivados</span>
								</li>
								<li class="p_8 pl_16 pr_16 hover_red">
									Eliminar Conversación
								</li>
							</ul>
						</div>
					</span>
				</div>
			</div>
			<div class="list msm_list">
				<ul class="list_scroll full">
					<li class="list_element max_h pos_r hover_light">
						<div class="ref">
							<div class="pt_2 pl_2">
								<div class="img_container">
									<img src="assets/icons/default_profile.png">
								</div>
							</div>
						</div><div class="info">
							<div class="p_16">
								<h3 class="fw_n">
									Usuario
								</h3>
								<p class="fw_500 pt_4 pb_4 fc_opacity">
									Mensaje Mensaje Mensaje Mensaje Mensaje Mensaje Mensaje Mensaje
								</p>
								<p class="fc_lightgray fs_s">
									dd mm hh
								</p>
							</div>
						</div>
						<div class="mini_mark">
							<button class="options_button btn_icon small bg_trans_secondary">
								<i class="material-icons">&#xE313;</i>
							</button>
							<div class="hidden_options">
								<div class="bg_white pb_8 pt_8 border_radius border b_gray shadow_flat">
									<p class="p_8 pl_16 pr_16 hover">
										<span>Marcar leido</span>
									</p>
									<p class="p_8 pl_16 pr_16 hover">
										<span>Archivar</span>
									</p>
									<p class="p_8 pl_16 pr_16 hover">
										<span>Eliminar</span>
									</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section><section class="right_grid">
		<div class="full_h">
			<div class="msm_container">
				<div class="top_actions icon_field border_b b_light">
					<div class="field_cont max" id="msm-search-chat">
						<div class="p_8">
							<div class="field">
								<span class="icon cursor_pointer">
									<i class="material-icons fc_lightgray">search</i>
								</span>
								<input type="text" name="msm-search-chat" placeholder="Buscar">
								<span class="icon close hover_light circle" onclick="showHiddenBlock(false, $('#msm-search-chat'))">
									<i class="material-icons fc_lightgray">close</i>
								</span>
							</div>
						</div>
					</div>
					<div class="ta_r p_8">
						<div class="p_info">
							<div class="col_a va_m img_container size_40 border_radius">
								<img src="assets/icons/default_profile.png">
							</div><div class="col_a va_m ml_16 name">
								<span class="fs_m">Usuario</span>
							</div>
						</div>
						<button class="btn_icon hover" title="Buscar" onclick="showHiddenBlock(true, $('#msm-search-chat'))">
							<span class="icon">
								<i class="material-icons">search</i>
							</span>
						</button>
						<button class="btn_icon hover" title="Agregar participantes">
							<span class="icon">
								<i class="material-icons">group_add</i>
							</span>
						</button>
						<button class="btn_icon hover" title="Adjuntar Archivo">
							<span class="icon">
								<i class="material-icons">attach_file</i>
							</span>
						</button>
						<span class="size_40 pos_r va_m">
							<button class="options_button btn_icon hover" title="Menú">
								<span class="icon">
									<i class="material-icons">more_vert</i>
								</span>
							</button>
							<div class="hidden_options">
								<ul class="bg_white pb_8 pt_8 border_radius border b_gray shadow_flat">
									<li class="p_8 pl_16 pr_16 hover">
										<span>Multimedia</span>
									</li>
									<li class="p_8 pl_16 pr_16 hover">
										<span>Ver Perfil</span>
									</li>
									<li class="p_8 pl_16 pr_16 hover">
										Seleccionar Mensajes
									</li>
									<li class="p_8 pl_16 pr_16 hover">
										<span>Archivar</span>
									</li>
									<li class="p_8 pl_16 pr_16 hover">
										<span>Eliminar Mensajes</span>
									</li>
									<li class="p_8 pl_16 pr_16 hover_red">
										Eliminar Conversación
									</li>
								</ul>
							</div>
						</span>
					</div>
				</div>
				<div class="msm_list bg_semiwhite">
					<div class="list_scroll full">
						<div class="pd_block">
							<ul class="list">
								<li class="ta_l mb_16">
									<div class="list_element pos_r">
										<div class="ref">
											<div class="img_container mini ml_0 mt_0">
												<img src="assets/icons/default_profile.png">
											</div>
										</div><div class="info">
											<div class="p_12 bg_white border_radius_max border b_light">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
												</p>
												<p class="fc_opacity fs_s mt_4">
													hh dd mm
												</p>
											</div>
										</div>
										<div class="mini_mark">
											<button class="options_button btn_icon small bg_trans_secondary">
												<i class="material-icons">&#xE313;</i>
											</button>
											<div class="hidden_options">
												<div class="bg_white pb_8 pt_8 border_radius border b_gray shadow_flat">
													<p class="p_8 pl_16 pr_16 hover">
														<span>Marcar leido</span>
													</p>
													<p class="p_8 pl_16 pr_16 hover">
														<span>Reenviar</span>
													</p>
													<p class="p_8 pl_16 pr_16 hover">
														<span>Eliminar</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="ta_r mb_16">
									<div class="list_element pos_r">
										<div class="p_12 bg_primary border_radius_max border b_light">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
											</p>
											<p class="fc_opacity fs_s mt_4">
												hh dd mm
											</p>
										</div>
										<div class="mini_mark">
											<button class="options_button btn_icon small bg_trans_secondary">
												<i class="material-icons">&#xE313;</i>
											</button>
											<div class="hidden_options">
												<div class="bg_white pb_8 pt_8 border_radius border b_gray shadow_flat fc_n">
													<p class="p_8 pl_16 pr_16 hover">
														<span>Marcar</span>
													</p>
													<p class="p_8 pl_16 pr_16 hover">
														<span>Reenviar</span>
													</p>
													<p class="p_8 pl_16 pr_16 hover">
														<span>Eliminar</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="msm_field border_t b_light">
				<div class="left">
					<div class="field">
						<textarea type="text" name="msm-text" placeholder="Mensaje"></textarea>
					</div>
				</div>
				<div class="right">
					<button class="btn_icon mt_8 ml_4 bg_trans_secondary" disabled="true" title="enviar">
						<span class="icon">
							<i class="material-icons fc_opacity">send</i>
						</span>
					</button>
				</div>
			</div>
		</div>
	</section>
</article>