<app-confirmation *ngIf="confirmationStatus.message" [message]="confirmationStatus.message" (onSelection)="doConfirmation($event)"></app-confirmation>
<div class="pop_up_container" id="groups-admin">
	<div class="pop_up_back" onclick="showPopup(false, '#groups-admin')"></div>
	<div class="pop_up">
		<div class="inner border_radius">
			<app-groups [course]="course._id" [groups]="course.groups" [members]="course.members" (onUpdate)="fetchCourse()"></app-groups>
		</div>
	</div>
</div>
<div class="page_container">
	<div class="page_container_in">
		<div class="p_16 resp_title main_action_button">
			<a href="/cursos">
				<button class="btn btn_primary shadow_raised">
					<span class="va_m icon">
						<i class="material-icons fw_500">arrow_back</i>
					</span><span class="va_m ml_4 mr_4">
						Regresar
					</span>
				</button>
			</a>
		</div>
		<section class="left_grid">
			<div class="pos_r mb_24 border b_gray border_radius" *ngIf="course.name">
				<div class="list_element">
					<div class="ref">
						<span class="fc_white" [style.backgroundColor]="colors.getColor(course.name)">
							<label class="title_smaller size_24">{{ course.name.charAt(0) }}</label>
						</span>
					</div><div class="info">
						<div class="p_16">
							<h3 class="fw_500 mb_4">
								{{ course.name }}
							</h3>
							<p class="opacity">
								<b class="fw_500">Creado el {{ course.createdDate | formatDate }}</b>
							</p>
						</div>
					</div>
				</div>
				<div class="ta_r p_12 pr_16" *ngIf="auth.getUser()._id == course.user.id">
					<button class="btn btn_auto bg_trans_blue float_left" onclick="showPopup(true, '#groups-admin')">
						<span class="icon small">
							<i class="material-icons fc_opacity">group</i>
						</span><span class="ml_4">Grupos</span>
					</button>
					<button class="btn_icon hover_black">
						<span class="icon">
							<i class="material-icons fc_opacity">mode_edit</i>
						</span><!-- <span class="ml_4">Editar</span> -->
					</button>
					<button class="btn_icon hover_black ml_8" (click)="setConfirmation($event, 'deleteCourse')">
						<span class="icon">
							<i class="material-icons fc_opacity">delete</i>
						</span><!-- <span class="ml_4">Eliminar</span> -->
					</button>
				</div>
				<div class="p_12 pr_16 pl_16" *ngIf="auth.getUser()._id != course.user.id">
					<button class="btn suscribe_button border_radius fw_b" [class.active]="isSuscribed()" (click)="setConfirmation($event, isSuscribed() ? 'unsuscribe': 'suscribe')" (mouseover)="suscribeAction = false" (mouseleave)="suscribeAction = true">
						<div *ngIf="isSuscribed()">
							<span class="icon small va_m">
								<i class="material-icons">{{ suscribeAction ? 'check' : 'close' }}</i>
							</span><span class="va_m fs_m" [class.ml_8]="isSuscribed()">
								{{ suscribeAction ? 'Inscrito(a)' : 'Cancelar Inscripción' }}
							</span>
						</div>
						<div *ngIf="!isSuscribed()">
							<span class="va_m fs_m">
								Inscribirse
							</span>
						</div>
					</button>
				</div>
				<div class="inner_info">
					<div class="p_12 fc_white">
						<div class="tags_container">
							<div class="col_a" *ngFor="let tag of course.tags">
								<span class="bg_blue tag">
									{{ tag }}
								</span>
							</div>
						</div>
					</div>
					<div class="p_16 pt_0" *ngIf="course.description">
						<p class="p_8 fs_b">{{ course.description }}</p>
					</div>
					<div class="list_element" *ngIf="course.user">
						<div class="pl_12 pr_12 opacity">
							<b>Creado por:</b>
						</div>
						<a href="/perfil/{{ course.user.id }}">
							<div class="fc_trans_blue">
								<div class="ref">
									<div class="img_container circle">
										<img [src]="course.user.profilePhoto ? '/media/'+course.user.id+'/profile/'+course.user.profilePhoto : 'assets/icons/default_profile.png'">
									</div>
								</div><div class="info">
									<div class="p_16">
										<h3 class="fw_500 mb_4">
											{{ course.user.name }} {{ course.user.lastName }}
										</h3>
										<p class="opacity">
											<b class="fw_500">{{ course.user.mail }}</b>
										</p>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section><section class="right_grid">
			<section class="h_selection ta_c mb_24">
				<div class="in circle_radius border b_gray fc_gray">
					<div class="item hover_primary border_r b_gray" (click)="displayedList = 0" [class.bg_primary]="displayedList == 0">
						<h3>Contenidos</h3>
					</div><div class="item hover_primary border_r b_gray" (click)="displayedList = 1" [class.bg_primary]="displayedList == 1">
						<h3>Actividades</h3>
					</div><div class="item hover_primary" (click)="displayedList = 2" [class.bg_primary]="displayedList == 2">
						<h3>Miembros{{ course.members?.length > 0 ? ' ('+course.members?.length+')' : '' }}</h3>
					</div>
				</div>
			</section>
			<div class="list mb_24">
				<div [hidden]="displayedList != 0">
					
				</div>
				<div [hidden]="displayedList != 1">
					
				</div>
				<div [hidden]="displayedList != 2">
					<div class="p_32 ta_c" *ngIf="course.members?.length < 1">
						<h2 class="title_big fw_l opacity">
							Ningun miembro por el momento
						</h2>
					</div>
					<div *ngIf="course.members">
						<div class="border_b b_light border_radius" *ngFor="let member of course.members">
							<a href="/perfil/{{ member.user.id }}">
								<div class="list_element hover_light">
									<div class="ref">
										<div class="img_container circle">
											<img [src]="member.user.profilePhoto && member.user.profilePhoto != '' ? '/media/' +member.user.id+'/profile/'+member.user.profilePhoto : 'assets/icons/default_profile.png'">
										</div>
									</div><div class="info">
										<div class="p_16">
											<h3 class="fw_500 mb_4">
												{{ member.user.name }} {{ member.user.lastName }}
											</h3>
											<p class="opacity">
												<b class="fw_500">{{ member.user.mail }}</b>
											</p>
											<p class="mt_8 fw_500" *ngIf="member.group && member.group != ''">
												<b class="opacity">Grupo:</b> {{ getMemberGroup(member.group) }}
											</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
