<div class="pop_up_container gallery" id="profile-gallery" *ngIf="photos[selectedAlbum].array?.length > 0">
	<div class="pop_up_back" onclick="showPopup(false, '#profile-gallery')"></div>
	<div class="pop_up">
		<div class="inner border_radius">
			<div class="border_b b_light bg_white">
				<div class="pop_up_title fc_opacity">
					<h1 class="title" *ngIf="selectedAlbum == 0">
						Fotos de Portada
					</h1>
					<h1 class="title" *ngIf="selectedAlbum == 1">
						Fotos de Perfil
					</h1>
					<div class="close_button">
						<button class="btn_icon hover" onclick="showPopup(false, '#profile-gallery')">
							<span class="icon">
								<i class="material-icons fc_opacity">arrow_back</i>
							</span>
						</button>
					</div>
				</div>
			</div>
			<div class="gallery_container">
				<div class="gal_inner bg_black pos_r">
					<div class="img_container">
						<img src="{{ photos[selectedAlbum].array[photos[selectedAlbum].selected] }}">
					</div>
					<div class="tr_0 h_32" *ngIf="privateUser">
						<div class="increment_margin size_32 pos_r">
							<button class="options_button hover size_32 ta_c circle">
								<img class="icon va_m" src="assets/icons/dots-vertical_white.png">
							</button>
							<div class="hidden_options">
								<div class="bg_white border b_gray pb_8 pt_8 shadow_raised border_radius fc_n">
									<p class="p_8 pl_16 pr_16 hover" (click)="changePhoto()" *ngIf="selectedAlbum == 0 && photos[selectedAlbum].array[photos[selectedAlbum].selected] !== userSrc + 'background/' + user.backPhoto">
										<span>Seleccionar como foto de portada</span>
									</p>
									<p class="p_8 pl_16 pr_16 hover" (click)="changePhoto()" *ngIf="selectedAlbum == 1 && photos[selectedAlbum].array[photos[selectedAlbum].selected] !== userSrc + 'profile/' + user.profilePhoto">
										<span>Seleccionar como foto de Perfil</span>
									</p>
									<p class="p_8 pl_16 pr_16 hover" (click)="deletePhoto()">
										Eliminar Foto
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons_container ta_c bg_white col_s fs_m">
					<button id="prof-galbutton-left" class="col_3 left hover fc_opacity" (click)="passImg(false, photos[selectedAlbum].album)" *ngIf="photos[selectedAlbum].array.length > 1">
						<span class="icon">
							<i class="material-icons">arrow_back</i>
						</span><span class="ml_16 fs_m fw_500">Atras</span>
					</button><div class="col_3 full_h va_m fs_b fc_opacity">
						<span class="va_m mt_12">
							<b>{{ photos[selectedAlbum].selected + 1 }}</b> de <b>{{ photos[selectedAlbum].array.length }}</b>
						</span>
					</div><button id="prof-galbutton-right" class="col_3 right hover fc_opacity" (click)="passImg(true, photos[selectedAlbum].album)" *ngIf="photos[selectedAlbum].array.length > 1">
						<span class="mr_16 fs_m fw_500">Siguiente</span><span class="icon">
							<i class="material-icons">arrow_forward</i>
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pop_up_container" id="user-editphotos" *ngIf="privateUser">
	<div class="pop_up_back" onclick="showPopup(false, '#user-editphotos')"></div>
	<div class="pop_up">
		<div class="inner border_radius">
			<div class="border_b b_light">
				<div class="pop_up_title fc_opacity">
					<h1 class="title">
						Actualizar Fotos
					</h1>
					<div class="close_button">
						<button class="btn_icon hover" onclick="showPopup(false, '#user-editphotos')">
							<span class="icon">
								<i class="material-icons fc_opacity">arrow_back</i>
							</span>
						</button>
					</div>
				</div>
			</div>
			<div class="update_photos_container">
				<div class="profile_display small">
					<div class="background bg_primarydark">
						<div class="editable">
							<button class="btn_icon hover" onclick="triggerClick('#back-img-file')">
								<img class="icon" src="assets/icons/camera_white.png">
							</button>
						</div>
						<div class="img_container bg_primarydark">
							<img [src]="user.backPhoto ? '/media/'+user._id+'/background/'+user.backPhoto : ''" id="profile-back" adjustable>
						</div>
					</div>
					<div class="profile_photo fc_white">
						<div class="inner">
							<div class="img_container border_radius_max shadow_flat">
								<img id="profile-photo" [src]="user.profilePhoto != undefined && user.profilePhoto != null ? '/media/'+user._id+'/profile/'+user.profilePhoto : 'assets/icons/default_profile.png'">
								<div class="editable" onclick="triggerClick('#profile-img-file')">
									<img src="assets/icons/camera_white.png">
								</div>
							</div>
						</div>
					</div>
				</div>
				<form id="formUpload" class="p_16 ta_r" action="api/profile/" method="POST" enctype="multipart/form-data">
					<div class="hidden_input">
						<input type="file" accept="image/*" name="profilePhoto" id="profile-img-file" onchange="previewPhoto(this, '#profile-photo')">
						<input type="file" accept="image/*" name="profileBackground" id="back-img-file" onchange="previewPhoto(this, '#profile-back');resizeImg('#profile-back');">
					</div>
					<button class="btn btn_cancel" onclick="showPopup(false, '#user-editphotos')">Cancelar</button>
					<input type="submit" class="btn btn_primary ml_8" name="" value="Actualizar" onclick="$('#formUpload').submit();">
				</form>
			</div>
		</div>
	</div>
</div>
<article class="mb_24">
	<section class="mb_12 pos_r">
		<div class="tr_0 h_32">
			<div class="increment_margin size_32 pos_r">
				<button class="options_button hover size_32 ta_c circle">
					<img class="icon va_m" src="assets/icons/dots-vertical_white.png">
				</button>
				<div class="hidden_options">
					<div class="bg_white pb_8 pt_8 shadow_raised border_radius border b_gray">
						<p class="p_8 pl_16 pr_16 hover" onclick="showPopup(true, '#profile-gallery')" (click)="selectedAlbum = 0" *ngIf="photos[0].array.length > 0">
							Ver foto de portada
						</p>
						<p class="p_8 pl_16 pr_16 hover" onclick="showPopup(true, '#user-editphotos')" *ngIf="privateUser">
							Subir fotos
						</p>
					</div>
				</div>
			</div>
		</div>
		<article class="profile_display">
			<div class="background bg_primarydark">
				<div class="img_container" *ngIf="user.backPhoto != undefined && user.backPhoto != ''">
					<img src="/media/{{ user._id }}/background/{{ user.backPhoto }}" adjustable>
				</div>
				<div class="bg_opacity" *ngIf="user.backPhoto != undefined && user.backPhoto != ''"></div>
			</div>
			<div class="profile_photo fc_white">
				<div class="inner">
					<div class="img_container border_radius_max shadow_flat cursor_pointer" [attr.id]="photos[1].array?.length > 0 ? 'profile-photo-img' : null" (click)="selectedAlbum = 1">
						<img [src]="user.profilePhoto && user.profilePhoto != '' ? '/media/'+user._id+'/profile/'+user.profilePhoto : 'assets/icons/default_profile.png'">
					</div><div class="info">
						<h3 class="title_smaller">
							{{ user.name }} {{ user.lastName }}
						</h3>
						<p class="opacity mt_8">
							<b class="fs_b fw_n">{{ user.mail }}</b>
						</p>
					</div>
				</div>
			</div>
		</article>
		<div class="col_s ta_c bg_white border b_light border_radius m_16">
			<div class="col_3 hover_light">
				<div class="p_8 pl_12 pl_12 border_r b_light">
					<h4 class="fw_n opacity">Tipo</h4>
					<h2 class="fw_n fs_b mt_4">{{ userTypes[user.privilege] }}</h2>
				</div>
			</div><div class="col_3 hover_light">
				<div class="p_8 pl_12 pl_12 border_r b_light">
					<h4 class="fw_n opacity">Cursos</h4>
					<h2 class="fw_n fs_b mt_4" *ngIf="user.courses?.length > 0">{{ user.courses?.length }}</h2>
					<h2 class="fw_n fs_b mt_4" *ngIf="user.courses?.length < 1 || user.courses == undefined">0</h2>
				</div>
			</div><div class="col_3 hover_light">
				<div class="p_8 pl_12 pl_12">
					<h4 class="fw_n opacity">Promedio</h4>
					<h2 class="fw_n fs_b mt_4">0.0</h2>
				</div>
			</div>
		</div>
	</section>
	<div class="page_container">
		<div class="page_container_in">
			<section>
				<div class="p_16 resp_title">
					<h2 class="title_small fc_secondary">
						Información
					</h2>
				</div>
				<div class="m_8 bg_white border b_light border_radius">
					<div class="p_16">
						<div class="mb_12">
							<p class="opacity fw_b mb_4">Teléfono</p>
							<p class="fs_b">
								<img class="icon opacity va_m m_8" src="assets/icons/phone_black.png">
								<span class=" va_m ml_8">
									{{ user.phone }}
								</span>
							</p>
						</div>
						<div>
							<p class="opacity fw_b mb_4">Dirección</p>
							<p class="fs_b">
								<img class="icon opacity va_m m_8" src="assets/icons/map-marker_black.png">
								<span class="va_m ml_8 opacity">
									<b>Sin dirección</b>
								</span>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section *ngIf="user.privilege != 0">
				<div class="p_16 resp_title">
					<h2 class="title_small fc_secondary">
						Cursos
					</h2>
				</div>
				<div class="p_32 ta_c" *ngIf="user.courses?.length < 1">
					<h2 class="title_big fw_300 fc_lightgray" *ngIf="!privateUser">
						Este usuario no esta inscrito a ningun curso por el momento
					</h2>
					<div *ngIf="privateUser">
						<h2 class="title_big fw_300 fc_lightgray">
							No estas inscrito a ningun curso por el momento
						</h2>
						<div class="mt_32">
							<a href="/cursos">
								<button class="btn bg_trans_secondary">
									Agregar Curso(s)
								</button>
							</a>
						</div>
					</div>
				</div>
				<div class="bg_white shadow_flat border_radius mb_12" *ngFor="let course of user.courses">
					<div class="list_element">
						<div class="ref">
							<span class="circle">
								<label class="title_smaller fw_l fc_white size_24">{{ (course.name).charAt(0) }}</label>
							</span>
						</div><div class="info">
							<div class="p_12 pl_16 pr_16">
								<div class="mb_8">
									<h3 class="fw_500 mb_4">
										{{ course.subject.name }}
									</h3>
									<p class="opacity">
										<b>{{ course.group.name }}</b>
									</p>
									<div class="mt_8">
										<p class="opacity">
											Nivel Asignatura: <b>{{ course.subject.level }}</b>
										</p>
										<p class="opacity">
											Nivel Grupo: <b>{{ course.group.level }}</b>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</article>


