<app-confirmation [alert]="alert" (onSelection)="doConfirmation($event)"></app-confirmation>
<div class="border-b b-light">
	<div class="pop-up-title fc-opacity">
		<h1 class="title" *ngIf="!selectedGroup">
			Administrar Grupos
		</h1>
		<h1 class="title" *ngIf="selectedGroup">
			{{ selectedGroup.isNew ? 'Nuevo Grupo' : 'Grupo' }}
		</h1>
		<div class="close-button">
			<button class="btn-icon hover" onclick="showPopup(false, '#groups-admin')" *ngIf="!selectedGroup">
				<span class="icon">
					<i class="material-icons fc-opacity">arrow_back</i>
				</span>
			</button>
			<button class="btn-icon hover" (click)="resetValues()" *ngIf="selectedGroup">
				<span class="icon">
					<i class="material-icons fc-opacity">arrow_back</i>
				</span>
			</button>
		</div>
	</div>
</div>
<form class="padding-block" (submit)="updateGroup()">
	<div class="p-24 align-center" *ngIf="groups?.length < 1 && !selectedGroup">
		<h2 class="title-medium fw-300 fc-lightgray pb-8 mb-32">No hay grupos aun</h2>
		<button class="btn bg-trans-secondary" (click)="selectGroup($event)">
			<span class="icon">
				<i class="material-icons">add</i>
			</span><b class="va-m ml-4 fw-500">Crear Grupo</b>
		</button>
	</div>
	<div *ngIf="(groups && groups?.length > 0) || selectedGroup">
		<div *ngIf="!selectedGroup" [@slide]="'timed'">
			<div class="align-left pb-24">
				<button class="btn btn-primary" (click)="selectGroup($event)">
					<span class="icon">
						<i class="material-icons">add</i>
					</span><span class="text">Nuevo Grupo</span>
				</button>
			</div>
			<div class="daalign-centerontainer">
				<div class="mb-24 fc-primarylight">
					<h2 class="col-auto title-medium va-m">
						Grupos
					</h2><h2 class="col-auto title-medium va-m" *ngIf="selectedGroup">
						{{ selectedGroup.name == '' ? 'Nuevo Grupo' : selectedGroup.name }}
					</h2>
				</div>
				<div class="pl-8 pr-8">
					<div class="list-element hover" *ngFor="let group of groups;let i = index" [ngClass]="{'border-t b-light': i > 0}">
						<div (click)="selectGroup($event, group)">
							<div class="ref">
								<span class="mini fc-white" [style.background]="colors.getColor(group.name)">
									<label class="title-smaller size-24">{{ group.name.charAt(0) }}</label>
								</span>
							</div><div class="info">
								<div class="p-16">
									<h3 class="fw-500 mb-4">{{ group.name }}</h3>
									<p class="fc-opacity">
										<b class="fw-500">{{ getGroupMembers(group._id).length }} {{ getGroupMembers(group._id).length != 1 ? 'Miembros' : 'Miembro' }}</b>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="selectedGroup" [@slideReverse]="'timed'">
			<div class="daalign-centerontainer">
				<div class="mb-24 fc-primarylight">
					<h2 class="col-auto title-medium va-m">
						{{ selectedGroup.name == '' ? 'Nuevo Grupo' : selectedGroup.name }}
					</h2>
				</div>
				<div class="pl-8 pr-8 pt-8">
					<div class="field">
						<p class="fs-b fc-lightgray mb-12">Nombre del Grupo</p>
						<input type="text" [(ngModel)]="selectedGroup.name" name="group-name" placeholder="Nombre del Grupo"/>
					</div>
					<div *ngIf="members?.length > 0">
						<div class="mt-24">
							<h4 class="fs-b fw-n fc-lightgray mb-12">
								Miembros <span class="fs-s" *ngIf="selectedGroup.users?.length > 0">(Click para eliminar)</span>
							</h4>
							<p class="p-24 title-small fw-300 opacity" *ngIf="selectedGroup.users?.length < 1" [@slide]="'timed'">
								No hay miembros en este grupo
							</p>
							<div class="list">
								<div class="list-element hover" *ngFor="let user of selectedGroup.users;let i = index" [ngClass]="{'border-t b-light': i > 0}" [@slide]="selectedGroup.users?.length == 1 ? 'timed' : 'normal'">
									<div (click)="removeUser(user)">
										<div class="ref">
											<div class="img-container mini">
												<img [src]="user.profilePhoto && user.profilePhoto != '' ? mediaSrc+user._id+'/profile/'+user.profilePhoto : 'assets/icons/default-profile.png'">
											</div>
										</div><div class="info">
											<div class="p-16">
												<h3 class="fw-500 mb-4">{{ user.name }} {{ user.lastName }}</h3>
												<p class="opacity">
													<b class="fw-500">{{ user.mail }}</b>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mt-24" *ngIf="usersNoGroup?.length > 0" [@slide]="'normal'">
							<h4 class="fs-b fw-n fc-lightgray mb-12">
								Agregar Miembros
							</h4>
							<div class="list">
								<div class="list-element hover" *ngFor="let user of usersNoGroup;let i = index" [ngClass]="{'border-t b-light': i > 0}">
									<div (click)="addUser(user)" [@slide]="'normal'">
										<div class="ref">
											<div class="img-container mini">
												<img [src]="user.profilePhoto && user.profilePhoto != '' ? mediaSrc+user._id+'/profile/'+user.profilePhoto : 'assets/icons/default-profile.png'">
											</div>
										</div><div class="info">
											<div class="p-16">
												<h3 class="fw-500 mb-4">{{ user.name }} {{ user.lastName }}</h3>
												<p class="opacity">
													<b class="fw-500">{{ user.mail }}</b>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pt-16 align-right">
					<input type="button" class="btn btn-cancel mt-8" value="Eliminar" *ngIf="!selectedGroup.isNew" (click)="setConfirmation($event)">
					<input type="submit" class="btn btn-primary ml-8 mt-8" value="{{ selectedGroup.isNew ? 'Crear Grupo' : 'Actualizar' }}" [disabled]="groupNotChanged()">
				</div>
			</div>
		</div>
	</div>
</form>
