<div class="groups_container">
	<div class="pop_up_container" id="group-add">
		<div class="pop_up_back" onclick="showPopup(false, '#group-add')"></div>
		<div class="pop_up">
			<div class="inner border_radius">
				<div class="bg_primary">
					<div class="text_align_right">
						<button class="pd_8 circle hover_black" onclick="showPopup(false, '#group-add')">
							<img class="icon" src="assets/icons/close_white.png">
						</button>
					</div>
					<div class="pop_up_title font_white">
						<h1 class="title_big font_lightnormal">
							Nuevo Grupo
						</h1>
					</div>
				</div>
				<form class="pd_16 padding_block" (submit)="addGroup()">
					<div class="data_container">
						<h2 class="title_medium mr_bottom_24 font_secondary">Datos</h2>
						<div class="pd_left_8 pd_right_8">
							<div class="pd_bottom_12" *ngIf="error !== ''">
								<h4 class="font_red font_normal">{{ error }}</h4>
							</div>
							<div class="field_container pd_bottom_24">
								<div class="field">
									<label class="opacity font_bold font_small">Clave</label>
									<input type="text" [(ngModel)]="group.key" name="key" placeholder="Clave de Grupo"/>
								</div>
								<div class="field mr_top_8">
									<label class="opacity font_bold font_small">Nombre</label>
									<input type="text" [(ngModel)]="group.name" name="name" placeholder="Nombre de Grupo"/>
								</div>
								<div class="field mr_top_8">
									<label class="opacity font_bold font_small">Nivel</label>
									<input type="text" [(ngModel)]="group.level" name="nivel" placeholder="Nivel de Grupo"/>
								</div>
							</div>
							<div class="field text_align_right">
								<input type="submit" class="bg_secondary font_white shadow_raised" value="Agregar">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<section class="list">
		<div class="pd_16">
			<button class="pd_8 pd_right_12 bg_secondary shadow_raised border_radius" onclick="showPopup(true, '#group-add')">
				<img class="v_align_middle icon" src="assets/icons/plus_white.png">
				<b class="v_align_middle mr_left_4 font_normal">Nuevo Grupo</b>
			</button>
		</div>
		<div class="pd_32" *ngIf="groups?.length < 1">
			<h2 class="title_big font_light opacity">
				Ningun grupo por el momento
			</h2>
		</div>
		<div class="bg_white shadow_flat border_radius mr_bottom_12" *ngFor="let group of groups">
			<div class="list_element">
				<div class="ref">
					<a href="/admin/grupos/{{ group._id }}">
						<span class="circle" [ngStyle]=" getRandomColor() ">
							<label class="title_smaller font_light font_white size_24">{{ group.name.charAt(0) }}</label>
						</span>
					</a>
				</div><div class="info">
					<button class="options_button hover_lightgray size_32 text_align_center circle">
						<img class="icon v_align_middle opacity" src="assets/icons/dots-vertical_black.png">
					</button>
					<div class="hidden_options">
						<div class="bg_white pd_bottom_8 pd_top_8 shadow_flat border_radius font_normal">
							<a href="/admin/grupos/{{ group._id }}">
								<p class="pd_8 pd_left_16 pd_right_16 hover_black">
									Ver
								</p>
							</a>
							<a href="/admin/grupos/{{ group._id }}?edit=true">
								<p class="pd_8 pd_left_16 pd_right_16 hover_black">
									Editar
								</p>
							</a>
						</div>
					</div>
					<div class="pd_12 pd_left_16 pd_right_16">
						<div class="mr_bottom_8">
							<h3 class="font_normal mr_bottom_4">
								{{ group.name }}
							</h3>
							<p class="opacity">
								Nivel: <b class="font_normal">{{ group.level }}</b>
							</p>
						</div>
						<p class="font_small opacity">
							Clave: <b class="font_normal">{{ group.key }}</b>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

