<app-confirmation [message]="alertMessage" (onSelection)="doConfirmation($event)"></app-confirmation>
<div class="border_b b_light">
	<div class="pop_up_title fc_opacity">
		<h1 class="title" *ngIf="!selectedGroup">
			Administrar Grupos
		</h1>
		<h1 class="title" *ngIf="selectedGroup">
			{{ selectedGroup.isNew ? 'Nuevo Grupo' : 'Grupo' }}
		</h1>
		<div class="close_button">
			<button class="btn_icon hover" onclick="showPopup(false, '#groups-admin')" *ngIf="!selectedGroup">
				<span class="icon">
					<i class="material-icons fc_opacity">arrow_back</i>
				</span>
			</button>
			<button class="btn_icon hover" (click)="resetValues()" *ngIf="selectedGroup">
				<span class="icon">
					<i class="material-icons fc_opacity">arrow_back</i>
				</span>
			</button>
		</div>
	</div>
</div>
<form class="padding_block" (submit)="updateGroup()">
	<div class="p_24 ta_c" *ngIf="!groups || groups?.length < 1">
		<h2 class="title_medium fw_300 fc_lightgray pb_8 mb_32">No hay grupos aun</h2>
		<button class="btn bg_trans_secondary" (click)="selectGroup($event)">
			<span class="icon">
				<i class="material-icons">add</i>
			</span><b class="va_m ml_4 fw_500">Crear Grupo</b>
		</button>
	</div>
	<div *ngIf="groups && groups?.length > 0">
		<div *ngIf="!selectedGroup" [@slide]="'timed'">
			<div class="ta_l pb_24">
				<button class="btn btn_primary" (click)="selectGroup($event)">
					<span class="icon">
						<i class="material-icons">add</i>
					</span><span class="text">Nuevo Grupo</span>
				</button>
			</div>
			<div class="data_container">
				<div class="mb_24 fc_primarylight">
					<h2 class="col_a title_medium va_m">
						Grupos
					</h2><h2 class="col_a title_medium va_m" *ngIf="selectedGroup">
						{{ selectedGroup.name == '' ? 'Nuevo Grupo' : selectedGroup.name }}
					</h2>
				</div>
				<div class="pl_8 pr_8">
					<div class="list_element hover" *ngFor="let group of groups;let i = index" [ngClass]="{'border_t b_light': i > 0}">
						<div (click)="selectGroup($event, group)">
							<div class="ref">
								<span class="mini fc_white" [style.background]="colors.getColor(group.name)">
									<label class="title_smaller size_24">{{ group.name.charAt(0) }}</label>
								</span>
							</div><div class="info">
								<div class="p_16">
									<h3 class="fw_500 mb_4">{{ group.name }}</h3>
									<p class="opacity">
										<b class="fw_500">{{ getGroupMembers(group._id).length }} {{ getGroupMembers(group._id).length != 1 ? 'Miembros' : 'Miembro' }}</b>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="selectedGroup" [@slideReverse]="'timed'">
			<div class="data_container">
				<div class="mb_24 fc_primarylight">
					<h2 class="col_a title_medium va_m">
						{{ selectedGroup.name == '' ? 'Nuevo Grupo' : selectedGroup.name }}
					</h2>
				</div>
				<div class="pl_8 pr_8 pt_8">
					<div class="field">
						<p class="fs_b fc_lightgray mb_12">Nombre del Grupo</p>
						<input type="text" [(ngModel)]="selectedGroup.name" name="group_name" placeholder="Nombre del Grupo"/>
					</div>
					<div *ngIf="members?.length > 0">
						<div class="mt_24">
							<h4 class="fs_b fw_n fc_lightgray mb_12">
								Miembros <span class="fs_s" *ngIf="selectedGroup.users?.length > 0">(Click para eliminar)</span>
							</h4>
							<p class="p_24 title_small fw_300 opacity" *ngIf="selectedGroup.users?.length < 1" [@slide]="'timed'">
								No hay miembros en este grupo
							</p>
							<div class="list">
								<div class="list_element hover" *ngFor="let user of selectedGroup.users;let i = index" [ngClass]="{'border_t b_light': i > 0}" [@slide]="selectedGroup.users?.length == 1 ? 'timed' : 'normal'">
									<div (click)="addUserToGroup(user)">
										<div class="ref">
											<div class="img_container mini">
												<img [src]="user.profilePhoto && user.profilePhoto != '' ? '/media/'+user.id+'/profile/'+user.profilePhoto : 'assets/icons/default_profile.png'">
											</div>
										</div><div class="info">
											<div class="p_16">
												<h3 class="fw_500 mb_4">{{ user.name }} {{ user.lastName }}</h3>
												<p class="opacity">
													<b class="fw_500">{{ user.mail }}</b>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mt_24" *ngIf="usersNoGroup?.length > 0" [@slide]="'normal'">
							<h4 class="fs_b fw_n fc_lightgray mb_12">
								Agregar Miembros
							</h4>
							<div class="list">
								<div class="list_element hover" *ngFor="let user of usersNoGroup;let i = index" [ngClass]="{'border_t b_light': i > 0}">
									<div (click)="addUserToGroup(user)" *ngIf="!isInGroup(user.id)" [@slide]="'normal'">
										<div class="ref">
											<div class="img_container mini">
												<img [src]="user.profilePhoto && user.profilePhoto != '' ? '/media/'+user.id+'/profile/'+user.profilePhoto : 'assets/icons/default_profile.png'">
											</div>
										</div><div class="info">
											<div class="p_16">
												<h3 class="fw_500 mb_4">{{ user.name }} {{ user.lastName }}</h3>
												<p class="opacity">
													<b class="fw_500">{{ user.mail }}</b>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pt_16 ta_r">
					<input type="button" class="btn btn_cancel mt_8" value="Eliminar" *ngIf="!selectedGroup.isNew" (click)="setConfirmation($event)">
					<input type="submit" class="btn btn_primary ml_8 mt_8" value="{{ selectedGroup.isNew ? 'Crear Grupo' : 'Actualizar' }}" [disabled]="groupNotChanged()">
				</div>
			</div>
		</div>
	</div>
</form>
