<button class="action_button pl_8 pr_8 hover" id="notif-open-button" title="Ver Notificaciones">
	<img class="icon va_m ml_4 mr_4" src="assets/icons/bell_black.png">
	<i class="mini_mark circle bg_red fc_white" *ngIf="getUnreadNotif() > 0">{{ getUnreadNotif() }}</i>
</button>
<div class="hidden_block" id="notif-mini">
	<i class="mark bg_white"></i>
	<div class="bg_white border b_gray shadow_raised border_radius notif_container">
		<section class="mm_section border_b b_light bg_white pt_12 pb_12 z_2">
			<div class="pl_16 pr_16">
				<p class="fw_500 fc_opacity">Notificaciones</p>
			</div>
		</section>
		<section class="mm_section">
			<div class="list">
				<div class="p_24 ta_c opacity" *ngIf="notifications?.length < 1">
					<img class="size_48 mb_16 opacity" src="/assets/icons/block-big_black.png">
					<h2 class="ta_c title_smaller fw_300">
						Aun no hay notificaciones
					</h2>
				</div>
				<div class="list_element pos_r" *ngFor="let notif of notifications; let i = index">
					<a [attr.href]="notif.read ? notif.redirect : null">
						<div [ngClass]="{'cursor_pointer bg_superlightblue': !notif.read, 'hover_light': notif.read, 'border_t b_light': i > 0 }" (click)="!notif.read ? markRead(true, notif) : null">
							<div class="ref">
								<div class="img_container mini">
									<img [src]="notif.responsibleUsers[0].profilePhoto ? '/media/'+notif.responsibleUsers[0]._id+'/profile/'+notif.responsibleUsers[0].profilePhoto : '/assets/icons/default_profile.png'">
								</div>
							</div><div class="info">
								<div class="p_12 pl_16 pr_16">
									<div class="mb_8">
										<div class="inline" *ngIf="notif.responsibleUsers?.length > 2">
											<b>
												{{ notif.responsibleUsers[0].name }} {{ notif.responsibleUsers[0].lastName }}
											</b>
											y {{ notif.responsibleUsers?.length - 1 }} personas más {{ getText(notif.action, 0) }}
										</div>
										<div class="inline" *ngIf="notif.responsibleUsers?.length <= 2">
											<span *ngFor="let user of notif.responsibleUsers; let j = index">
												<b>
													{{ user.name }} {{ user.lastName }}
												</b>
												{{ j < 1 && notif.responsibleUsers?.length > 1 ? 'y' : '' }}
											</span>
										</div>
										<span class="inline" *ngFor="let part of getText(notif.action)">
											<label class="cursor_pointer" [class.fw_b]="part.elem">{{ part.text }}</label>
										</span>
									</div>
									<p class="fs_s">
										<b class="fw_500 opacity">{{ notif.date | formatDate: 'time' }}</b>
									</p>
								</div>
							</div>
						</div>
					</a>
					<div class="mini_mark">
						<button class="btn_icon small" [ngClass]="{'hover_blue': notif.read, 'hover_red': !notif.read}" (click)="markRead(false, notif)" [title]="!notif.read ? 'Marcar como leido' : 'Marcar como no leido'">
							<i class="material-icons" *ngIf="!notif.read">close</i>
							<i class="material-icons" *ngIf="notif.read">check</i>
						</button>
					</div>
				</div>
			</div>
		</section>
		<section class="mm_section" *ngIf="notifications?.length > 10">
			<button class="w_100 fc_red hover">
				<div class="p_8 fc_secondary">Cargar más</div>
			</button>
		</section>
	</div>
</div>
