@media screen and (min-width: 425px) {
	.increment_margin { margin: 12px; }

	.app_bar .app_bar_inner .hidden_block_container.notif .hidden_block {
		width: 320px;
		right: -96px; 
	}

	.app_bar .app_bar_inner .hidden_block_container.notif .hidden_block i.mark {
		right: 112px;
	}

	.app_bar .app_bar_inner .prof_container span { display: inline-block; }

	.pop_up_container .pop_up {
		overflow: hidden;
		border-radius: 3px;
	}

	.pop_up_container .pop_up .inner .padding_block {
		padding: 24px;
	}

	.responsive_col .col_2 .col_2 {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}

	.admin_container .admin_navigation {
		padding-left: 6px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.profile_display {
		height: 260px;
	}

	.profile_display .profile_photo .inner {
		padding: 16px 24px 24px 24px;
	}

	.profile_display .background .editable {
		top: 16px;
		left: 16px;
	}

	.gallery_container .buttons_container button span {
		display: inline-block;
	}

}