@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	background-color: #FAFAFA;
	font-size: 15px;
	color: #424242;
}

button {
	background: transparent; 
	border: none;
	padding: 0;
	margin: 0;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	font-size: 15px;
}

button.btn, input.btn {
	cursor: pointer;
	font-size: 15px;
	border: 2px solid #bdbdbd;
	color: #bdbdbd;
	background-color: transparent;
	font-weight: bold;
	border-radius: 50px;
	padding: 0 12px;
	height: 40px;
	line-height: 36px;
	outline: none;
	transition: all 0.2s;
}

button.btn * { font-weight: bold; }

button.btn.btn_primary, input.btn.btn_primary {
	border-color: #2196F3;
	color: #2196F3;
}

button.btn.btn_primary:hover, input.btn.btn_primary:hover {
	background-color: #2196F3 !important;
	color: #fff !important;
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
}

span { display: inline-block; }

a { text-decoration: none;color: #424242; }

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

.loader .inner {
    border: 4px solid rgba(170, 170, 170, 0.1);
    border-top: 4px solid #64DD17;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*---- SPACING -------------------------- */


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.w_100 {width: 100% !important;height: auto !important;}
.h_100 {width: auto !important;height: 100% !important;}

.size_8 { width: 8px !important; height: 8px !important; }
.size_12 { width: 12px !important; height: 12px !important; line-height: 12px !important; }
.size_16 { width: 16px !important; height: 16px !important; }
.size_24 { width: 24px !important; height: 24px !important; }
.size_32 { width: 32px !important; height: 32px !important; }
.size_40 { width: 40px !important; height: 40px !important; }
.size_48 { width: 48px !important; height: 48px !important; }
.size_56 { width: 56px !important; height: 56px !important; }
.size_64 { width: 64px !important; height: 64px !important; }
.size_80 { width: 80px !important; height: 80px !important; }
.size_96 { width: 96px !important; height: 96px !important; }
.size_120 { width: 120px !important; height: 120px !important; }
.size_160 { width: 160px !important; height: 160px !important; }
.size_192 { width: 192px !important; height: 192px !important; }

.h_32 { height: 32px; }

label.size_24 { display: inline-block; }

/* PADDING */
.p_0{padding: 0 !important;}
.pt_0{padding-top: 0 !important;}
.pb_0{padding-bottom: 0 !important;}
.pr_0{padding-right: 0 !important;}
.pl_0{padding-left: 0 !important;}
.p_4{padding: 4px;}
.pt_4{padding-top: 4px;}
.pb_4{padding-bottom: 4px;}
.pl_4{padding-left: 4px;}
.pr_4{padding-right: 4px;}
.p_8{padding: 8px;}
.pt_8{padding-top: 8px;}
.pb_8{padding-bottom: 8px;}
.pl_8{padding-left: 8px;}
.pr_8{padding-right: 8px;}
.p_12{padding: 12px;}
.pt_12{padding-top: 12px;}
.pb_12{padding-bottom: 12px;}
.pl_12{padding-left: 12px;}
.pr_12{padding-right: 12px;}
.p_16{padding: 16px;}
.pt_16{padding-top: 16px;}
.pb_16{padding-bottom: 16px;}
.pl_16{padding-left: 16px;}
.pr_16{padding-right: 16px;}
.p_24{padding: 24px;}
.pt_24{padding-top: 24px;}
.pb_24{padding-bottom: 24px;}
.pl_24{padding-left: 24px;}
.pr_24{padding-right: 24px;}
.p_32{padding: 32px;}
.pt_32{padding-top: 32px;}
.pb_32{padding-bottom: 32px;}
.pl_32{padding-left: 32px;}
.pr_32{padding-right: 32px;}
.p_40{padding: 40px;}
.pt_40{padding-top: 40px;}
.pb_40{padding-bottom: 40px;}
.p_48{padding: 48px;}
.pt_48{padding-top: 48px;}
.pb_48{padding-bottom: 48px;}
.pt_56{padding-top: 56px;}
.pb_56{padding-bottom: 56px;}
.pt_64{padding-top: 64px;}
.pb_64{padding-bottom: 64px;}
.p_resp{padding: 32px 16px 32px 16px;}

/* MARGIN */
.m_0{margin: 0 !important;}
.mt_0{margin-top: 0 !important;}
.mb_0{margin-bottom: 0 !important;}
.mt_2{margin-top: 2px !important;}
.mb_2{margin-bottom: 2px !important;}
.mt_4{margin-top: 4px;}
.mb_4{margin-bottom: 4px;}
.ml_4{margin-left: 4px;}
.mr_4{margin-right: 4px;}
.m_8{margin: 8px;}
.mt_8{margin-top: 8px;}
.mb_8{margin-bottom: 8px;}
.ml_8{margin-left: 8px;}
.mr_8{margin-right: 8px;}
.m_12{margin: 12px;}
.mt_12{margin-top: 12px;}
.mb_12{margin-bottom: 12px;}
.ml_12{margin-left: 12px;}
.mr_12{margin-right: 12px;}
.m_16{margin: 16px;}
.mt_16{margin-top: 16px;}
.mb_16{margin-bottom: 16px;}
.ml_16{margin-left: 16px;}
.mr_16{margin-right: 16px;}
.m_24{margin: 24px;}
.mt_24{margin-top: 24px;}
.mb_24{margin-bottom: 24px;}
.m_32{margin: 32px;}
.ml_32{margin-left: 32px;}
.mt_32{margin-top: 32px;}
.mb_32{margin-bottom: 32px;}
.m_48{margin: 48px;}
.mt_48{margin-top: 48px;}
.mb_48{margin-bottom: 48px;}
.mt_56{margin-top: 56px;}
.mb_56{margin-bottom: 56px;}
.m_a { margin-left: auto;margin-right: auto;display: block; }
.ml_auto{margin-left: auto;}
.mr_auto{margin-right: auto;}

.increment_margin {margin: 8px;}

.tr_0 {position: absolute;top: 0;right: 0;}

/*---- ALIGMENT --------------------------- */
.ta_c { text-align: center; }
.ta_l { text-align: left; }
.ta_r { text-align: right; }
.ta_j { text-align: justify; }

.va_m { vertical-align: middle; }
.va_t { vertical-align: top; }
.va_b { vertical-align: bottom; }

.float_left { float: left; }
.float_right { float: right; }

.break_word { word-wrap: break-word; }

/*----------------------------------------- */

/*---- TITLES --------------------------- */

.title_bigger { font-size: 48px;font-weight: normal;line-height: normal; }
.title_big { font-size: 40px;font-weight: normal;line-height: normal; }
.title_medium { font-size: 36px;font-weight: normal;line-height: normal; }
.title_small { font-size: 30px;font-weight: normal;line-height: 32px; }
.title_smaller { font-size: 24px;font-weight: normal;line-height: 24px; }

.fs_b { font-size: 19px; }
.fs_m { font-size: 16px; }
.fs_s { font-size: 13px; }
.fw_l { font-weight: lighter !important; }
.fw_300 { font-weight: 300 !important; }
.fw_n { font-weight: normal; !important; }
.fw_500 { font-weight: 500 !important; }
.fw_b { font-weight: bold !important; }

/*--------------------------------------- */

.text_shadow { text-shadow: 0 1px 1px #000; }
.shadow_flat { box-shadow: 0 1px 7px rgba(0, 0, 0, 0.08); }
.shadow_raised { box-shadow: 0 1px 10px rgba(0, 0, 0, 0.22); }

.circle { border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;-o-border-radius: 100%;-ms-border-radius: 100%; }
.circle_radius { border-radius: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;-o-border-radius: 100px;-ms-border-radius: 100px; }
.border_radius { border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px;overflow: hidden; }


.icon { width: 24px;height: 24px;line-height: 24px !important; }
.icon.small { width: 18px;height: 18px;line-height: 18px !important; }
.icon.big { width: 40px;height: 40px;line-height: 40px !important; }

.icon.small .material-icons { font-size: 18px; }

.img_container { position: relative;overflow: hidden;background-color: #000; }

.img_container img {
	position: absolute;
	height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_container img.normal {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 200px;
	left: initial;
	top: initial;
	position: static;
	transform: none;
}

.img_container .editable {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s;
}

.img_container .editable img {
	width: 42%;
	height: 42%;
}

.img_container:hover .editable {
	opacity: 1;
}

.underline:hover { text-decoration: underline; }
.cursor_pointer { cursor: pointer; }

/*---- COLORS --------------------------- */

.bg_primary { background-color: #3F51B5 !important; }
.bg_primary_dark { background-color: #303F9F !important; }
.bg_secondary { background-color: #64DD17 !important; }
.bg_white { background-color: #FFF !important; }
.bg_black { background-color: #000 !important; }
.bg_gray { background-color: #e0e0e0 !important; }
.bg_lightgray { background-color: #f5f5f5 !important; }
.bg_light { background-color: rgba(0, 0, 0, 0.2) !important; }
.bg_darkgray { background-color: #424242 !important; }
.bg_blue { background-color: #2196F3 !important; }
.bg_blue.hover_blue { color: #fff !important; }
.bg_lightblue { background-color: #E3F2FD !important; }
.bg_red { background-color: #F44336 !important; }
.bg_green { background-color: #8BC34A !important; }
.bg_opacity { background-color: rgba(0, 0, 0, 0.3); }
.bg_opacity_light { background-color: rgba(0, 0, 0, 0.18); }

.red_trans:hover { background-color: #F44336;color: #fff !important;transition: all 0.3s; }

.fc_n { color: #424242 !important; }
.fc_primary { color: #3F51B5 !important; }
.fc_primary_dark { color: #303F9F !important; }
.fc_secondary { color: #64DD17 !important; }
.fc_white { color: #FFF !important; }
.fc_black { color: #000 !important; }
.fc_gray { color: #727272 !important; }
.fc_lightgray { color: #bdbdbd !important; }
.fc_red { color: #F44336 !important; }
.fc_blue { color: #2196F3 !important; }
.fc_green { color: #8BC34A !important; }

.fc_n a { color: #424242 !important; }
.fc_black a { color: #000 !important; }
.fc_primary_dark a { color: #303F9F !important; }
.fc_white a { color: #fff !important; }
a.fc_blue { color: #2196F3 !important; }

.b_white { border: 1px solid #fff; }
.b_black { border: 1px solid #000; }
.b_gray { border: 1px solid #e0e0e0; }
.b_blue { border: 1px solid #2196F3; }
.b_green { border: 1px solid #8BC34A; }
.bt { border-top: 1px solid rgba(0, 0, 0, 0.06); }
.bb, .bg_white .bb { border-bottom: 1px solid rgba(0, 0, 0, 0.04); }
.bb_white { border-bottom: 2px solid #fff; }
.bb_primary { border-bottom: 3px solid #3F51B5; }
.b_2 { border-width: 2px; }
.b_trans, .b_trans_red { transition: all 0.2s; }
.b_trans:hover, .b_trans_red:hover { box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2); }
.b_trans:hover { border-color: #2196F3; }
.b_trans_blue:hover { border-color: #2196F3;background-color: #2196F3 !important; }
.b_trans_red:hover { border-color: #F44336;background-color: #F44336 !important; }

.opacity { opacity: 0.5; }
img.opacity { opacity: 0.4; }

.hover_black, .hover_white, .hover_lightgray, .hover_dark, 
.hover_light, .hover_blue, .hover_red { cursor: pointer;transition: all 0.2s }
.hover_black:hover { background-color: rgba(0, 0, 0, 0.06) !important; }
.hover_light:hover { background-color: rgba(0, 0, 0, 0.02) !important; }
.hover_white:hover { background-color: rgba(255, 255, 255, 0.06) !important; }
.hover_dark:hover { background-color: #424242 !important; }
.hover_lightgray:hover { background-color: #f9f9f9 !important; }
.hover_blue:hover { background-color: #2196F3 !important; color: #fff !important; }
.hover_red:hover { background-color: #F44336 !important; color: #fff !important; }
.bg_blue.hover_blue:hover { background-color: #2196F3 !important; color: #fff !important; }
.bg_lightblue.hover_black:hover { background-color: #E3F2FD !important; }

.h_selection .in {
	border: 1px solid #2196F3;
	color: #2196F3;
	border-radius: 50px;
	display: inline-block;
	overflow: hidden;
}

.h_selection .item {
	cursor: pointer;
	width: auto;
	text-align: center;
	border-right: 1px solid #2196F3;
	display: inline-block;
	transition: all 0.2s;
}

.h_selection .item h3 {
	padding: 8px;
	font-weight: 500;
}

.h_selection .item:last-child {
	border: none;
}

.h_selection .item.active {
	background-color: #2196F3;
	color: #fff;
}

/*--------------------------------------- */

.pos_r { position: relative !important; }

.col_s .col_2 {
	display: inline-block;
	width: 50%;
}

.col_s .col_3 {
	display: inline-block;
	width: 33.333333%;
}

.col_s .col_4 {
	display: inline-block;
	width: 25%;
}

.col_s .col_5 {
	display: inline-block;
	width: 20%;
}

.col_a { display: inline-block;width: auto; }

.inline { display: inline;width: auto; }

/*---- FIELDS  -----------------------------*/

.field { position: relative; }

.login_container .field label {
	display: none;
}

.field label {
	display: inline-block;
	margin-bottom: 4px;
}

.field input, .field select, .field textarea {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	width: calc(100% - 26px);
	height: 42px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: rgba(0, 0, 0, 0.02);
	border: none;
	border: 1px solid rgba(0, 0, 0, 0.05);
	color: #424242;
	font-size: 15px;
	outline: none;
	border-radius: 4px;
}

.field textarea {
	padding: 12px;
	resize: none;
	height: 140px;
	display: inline-block;
}

.field select {
	width: 100%;
	padding-left: 0;
	text-indent: 12px;
}

.field input:focus, .field select:focus, .field textarea:focus {
	border-color: #64DD17;
}

.field input[type="submit"], .field input[type="button"], .field button {
	width: auto;
	height: 44px !important;
	border: none;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 18px;
	cursor: pointer;
}

.icon_field .field img {
	position: absolute;
	display: block;
	top: 1px;
	left: 0;
	margin: 9px;
}

.icon_field .field input, .icon_field .field select {
	width: calc(100% - 58px);
	padding-left: 44px;
}

.icon_field .field select {
	width: 100%;
	padding-left: 0;
	text-indent: 44px;
}

.field *::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bdbdbd;
}
.field *::-moz-placeholder { /* Firefox 19+ */|
  color: #bdbdbd;
}
.field *:-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
}
.field *:-moz-placeholder { /* Firefox 18- */
  color: #bdbdbd;
}

.login_bg { width: 100%;height: 200px; }
.login_container { margin-left: auto;margin-right: auto;margin-top: -100px;width: auto;max-width: 480px; }

.list_scroll {
	max-height: 520px;
	overflow: auto;
}

.list_scroll.mini {
	position: absolute;
	max-height: 200px;
	width: 100%;
	z-index: 3;
}

.switch{position:relative;display:inline-block;width:54px;height:28px}
.switch input[type="checkbox"]{display:none}
.switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;border-radius:34px;-webkit-transition:.4s;transition:.4s}
.switch .slider:before{position:absolute;content:"";height:20px;width:20px;left:4px;bottom:4px;background-color:#fff;transition:.4s;-webkit-transition:.4s;border-radius:50%}
.switch input[type="checkbox"]:checked + .slider{background-color:#29bdef}
.switch input[type="checkbox"]:checked + .slider:before{transform:translateX(26px);-webkit-transform:translateX(26px);-moz-transform:translateX(26px);-o-transform:translateX(26px);-ms-transform:translateX(26px)}

/*---- TOOLBAR --------------------------- */

.app_bar_back { height: 96px; }

.app_bar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 96px;
	z-index: 4;
}

.app_bar .app_bar_inner {
	width: auto;
	height: 100%;
	margin: 0 auto;
	max-width: 1160px;
}

.app_bar .app_bar_inner .bar_top, .app_bar .app_bar_inner .bar_bottom {
	width: auto;
	height: 48px;
}

.app_bar .app_bar_inner .bar_top { line-height: 48px; }

.app_bar .app_bar_inner .logo_container {
	width: 48px;
	height: 100%;
	vertical-align: top;
	text-align: center;
}

.app_bar .app_bar_inner button.action_button {
	height: 42px;
	width: 42px;
	padding: 0;
	line-height: normal;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 100%;
	position: relative;
}

.app_bar .app_bar_inner button.action_button i.mini_mark {
	font-style: normal;
	font-size: 12px;
	position: absolute;
	width: 10px;
	height: 10px;
	padding: 4px;
	line-height: 10px;
	right: 2px;
	text-align: center;
	top: 2px;
	z-index: 1;
}

.app_bar .app_bar_inner .searchbar_container .searchbar {
	position: absolute;
	width: calc(100% - 64px);
	max-width: 420px;
	height: 48px;
	top: 0;
	right: 0;
	z-index: 2;
	display: none;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field {
	position: relative;
	width: auto;
	height: 40px;
	margin: 8px 8px 0 8px;
	line-height: 40px;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field button {
	width: 40px;
	height: 40px !important;
	padding: 0 !important;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field button.close {
	left: initial;
	right: 0;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field button img {
	vertical-align: middle;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field input {
	height: 100%;
	width: calc(100% - 80px);
	padding-left: 40px;
	padding-right: 40px;
	border: none;
}

.app_bar .app_bar_inner .hidden_block_container { position: relative; }

.app_bar .app_bar_inner .prof_container span.name {
	width: auto;
	max-width: 100px;
	line-height: normal;
	white-space: nowrap;
	height: auto;
	overflow: hidden;
	vertical-align: middle;
	display: none;
}

.app_bar .app_bar_inner .hidden_block_container .hidden_block {
	right: 16px;
	top: 56px;
	position: absolute;
	z-index: 2;
	color: #424242;
	width: auto;
	min-width: 240px;
	line-height: normal;
	display: none;
}

.app_bar .app_bar_inner .hidden_block_container.notif .hidden_block {
	width: 280px;
	right: -48px;
}

.app_bar .app_bar_inner .hidden_block_container .hidden_block i.mark {
	display: block;
	position: absolute;
	width: 14px;height: 14px;
	transform: rotate(45deg);
	top: -7px;
	right: 12px;
}

.app_bar .app_bar_inner .hidden_block_container.notif .hidden_block i.mark {
	right: 65px;
}

.hidden_block_container.notif .notif_container .list {
	overflow: auto;
	max-height: 360px; 
}

.app_bar .app_bar_inner .bar_bottom .menu {
	height: 100%;
	width: 100%;
	position: relative;
	line-height: normal;
}

.app_bar .app_bar_inner .bar_bottom .menu .item {
	display: inline-block;
	margin: 0;
	width: 25%;
	vertical-align: top;
	text-align: center;
	line-height: 48px;
	height: 100%;
	float: left;
}

.app_bar .app_bar_inner .bar_bottom .menu .item a {
	display: block;
	height: 100%;
	color: #bdbdbd;
}

.app_bar .app_bar_inner .bar_bottom .menu .item .inner {
	width: auto;
	height: 100%;
}

.app_bar .app_bar_inner .bar_bottom .menu .item .inner span.label {
	display: none;
}

.list_element .ref {
	width: 64px;
	display: inline-block;
	vertical-align: top; 
	text-align: center;
}

.list_element .ref span { padding: 12px;margin: 12px 0 16px 14px;width: 24px;height: 24px; }
.list_element .ref span label { cursor: pointer !important; }

.list_element .ref .img_container {
	margin: 12px 0 12px 16px;
	height: 48px;width: 48px;
	background-color: transparent !important;
}

.list_element .info {
	width: calc(100% - 64px);
	display: inline-block;
	margin-top: 0 !important;
	vertical-align: top;
	position: relative;
}

.list_element .mini_mark {
	position: absolute;
	bottom: 12px;
	right: 12px;
	z-index: 2; 
}

.options_button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	outline: none;
}

.list_element .info .options_button {
	top: 6px;
	right: 4px;
}

.hidden_options {
	position: absolute;
	width: auto;
	min-width: 180px;
	max-width: 300px;
	top: 8px;
	right: 32px;
	display: none;
	z-index: 3;
}

.list_element .info .hidden_options {
	top: 12px;
	right: 36px;
}

.pop_up_container {
	display: block;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 99;
	background-color: #fff;
}

.pop_up_container.gallery {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.pop_up_container .pop_up_back {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.pop_up_container .pop_up {
	position: relative;
	margin: 0 auto;
	z-index: 2;
	max-width: 620px;
	background-color: #fff;
}

.pop_up_container.big .pop_up {
	max-width: 1080px;
}

.pop_up_container.gallery .pop_up {
	max-width: 1080px;
	height: 100%;
	background-color: transparent; !important;
}

.pop_up_container .pop_up .inner {
	overflow: hidden;
}

.pop_up_container.gallery .pop_up .inner {
	height: 100%;
}

.pop_up_title {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
	position: relative;
	z-index: 2;
}

.pop_up_title .title {
	padding: 19px 16px 17px 4px;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	margin-left: 56px;
	position: relative;
}

.pop_up_title .close_button {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 40px;
	height: 40px;
}

.pop_up_title .close_button button {
	margin: 8px;
}

.pop_up_container .pop_up .inner .padding_block {
	padding: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile_display {
	position: relative;
	height: 260px;
}

.profile_display.small {
	max-height: 270px;
}

.profile_display.mini {
	height: 220px !important;
}

.profile_display .background {
	width: 100%;
	position: relative;
	height: 100%;
}

.profile_display .background .editable {
	position: absolute;
	top: 12px;
	left: 12px;
	width: auto;
	z-index: 2;
}

.profile_display .background .img_container {
	height: 100%;
}

.profile_display .background .bg_opacity {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.profile_display .profile_photo {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 1;
}

.profile_display .profile_photo .inner {
	padding: 20px;
}

.profile_display.mini .profile_photo .inner {
	padding: 16px !important;
}

.profile_display .profile_photo .img_container {
	width: 88px;
	height: 88px;
}

.profile_display.mini .profile_photo .img_container{
	width: 88px !important;
	height: 88px !important;
}

.profile_display .profile_photo .info {
	margin-top: 24px;
}

.hidden_input {
	display: none;
}

.gallery_container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery_container .buttons_container {
	height: 48px;
}

.gallery_container .buttons_container button {
	display: inline-block;
	height: 100%;
	text-align: center;
}

.gallery_container .buttons_container button span {
	color: #000;
	font-size: 16px;
	display: none;
}

.gallery_container .gal_inner {
	white-space: nowrap;
	width: 100%;
	height: auto;
}

.pop_up_container.gallery .gallery_container .gal_inner {
	height: calc(100% - 104px);
} 

.gallery_container .gal_inner .img_container {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.gallery_container .gal_inner .img_container img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.gallery_container .buttons_container {
	height: 48px;
}

.tags_container { overflow: hidden; }

.tags_container .tag {
	padding: 4px 9px;
	margin: 0 4px 4px 0;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
