@media screen and (min-width: 1024px) {
	.increment_margin { margin: 24px;margin-top: 20px; }

	.app_bar, .app_bar_back, .app_bar .app_bar_inner .bar_top, .app_bar .app_bar_inner .bar_bottom { height: 56px; }

	.app_bar .app_bar_inner .bar_top { line-height: 54px; }

	.app_bar .app_bar_inner .searchbar_container { position: relative; }

	.app_bar .app_bar_inner .searchbar_container .searchbar { width: 360px; }

	.app_bar .app_bar_inner .searchbar_container .searchbar .field { margin-top: 8px;margin-bottom: 0; }

	.app_bar .app_bar_inner .hidden_block_container .hidden_block { top: 64px; }

	.app_bar .app_bar_inner .hidden_block_container.notif .hidden_block { width: 400px; }

	.app_bar .app_bar_inner .bar_bottom { top: -56px; }

	.app_bar .app_bar_inner .bar_bottom .menu .item { line-height: 54px; }

	.app_bar .app_bar_inner .bar_bottom .menu .item span {
		display: inline-block;
	}

	.pop_up_container .pop_up {
		margin: 32px auto;
	}

	.pop_up_container.gallery .pop_up {
		height: calc(100% - 64px);
	}

	.pop_up_container .pop_up .inner .padding_block {
		padding: 40px;
	}

	.pop_up_container .pop_up .inner .responsive_col .col_2 {
		display: inline-block;
		width: calc(50% - 8px);
	}

	.admin_container, .profile_container {
		width: calc(100% - 80px);
	}

	.admin_container .admin_navigation {
		padding: 10px;
	}

	.admin_container .admin_navigation .auto_col nav {
		padding-left: 16px;
		padding-right: 16px;
	}

	.courses_container.full {
		margin: 32px auto;
		width: calc(100% - 64px);
	}

	.courses_container .left_grid {
		margin-right: 24px;
		width: 35%;
	}

	.courses_container .right_grid {
		width: calc(65% - 24px);
	}

	.courses_container .right_grid .course_navigation {
		padding-top: 0;
	}
	.courses_container .right_grid .course_navigation nav {
		padding-left: 16px;
		padding-right: 16px;
	}

	.main_action_button {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 24px;
		padding-bottom: 24px;	
	}

	.responsive_col .col_3 {
		width: 33.3333333%;
	}

	.profile_display {
		height: 374px;
	}

	.admin_container .profile_display {
		height: 360px;
	}

	.profile_display .profile_photo .inner {
		padding: 16px 48px 24px 48px;
	}

	.profile_display .profile_photo .img_container {
		width: 104px;
		height: 104px;
	}
}