@media screen and (min-width: 1024px) {
	.increment_margin { margin: 24px;margin-top: 20px; }

	.app_bar, .app_bar_back, .app_bar .app_bar_inner .bar_top, .app_bar .app_bar_inner .bar_bottom { height: 56px; }

	.app_bar .app_bar_inner .bar_top { line-height: 54px; }

	.app_bar .app_bar_inner .searchbar_container { position: relative; }

	.app_bar .app_bar_inner .searchbar_container .searchbar { width: 360px; }

	.app_bar .app_bar_inner .searchbar_container .searchbar .field { margin-top: 8px;margin-bottom: 0; }

	.app_bar .app_bar_inner .hidden_block_container .hidden_block { top: 64px; }

	.app_bar .app_bar_inner .hidden_block_container.notif .hidden_block { width: 400px; }

	.app_bar .app_bar_inner .bar_bottom { top: -56px; }

	.app_bar .app_bar_inner .bar_bottom .menu .item { line-height: 54px; }

	.app_bar .app_bar_inner .bar_bottom .menu .item span {
		display: inline-block;
	}

	.pop_up_container .pop_up {
		margin: 32px auto;
	}

	.pop_up_container .pop_up.big {
		max-width: 1080px;
	}

	.pop_up_container .pop_up .inner .pop_up_title {
		padding: 24px 32px 24px 32px;
	}

	.pop_up_container .pop_up .inner .padding_block {
		padding: 48px;
	}

	.pop_up_container .pop_up .inner .responsive_col .col_2 {
		display: inline-block;
		width: calc(50% - 8px);
	}

	.admin_container, .profile_container {
		width: calc(100% - 64px);
	}

	.admin_container .admin_navigation {
		width: 240px;
		margin-right: 16px;
		display: inline-block;
		vertical-align: top;
		margin-top: 32px;
	}

	.admin_container .admin_page {
		width: calc(100% - 256px);
		display: inline-block;
		vertical-align: top;
	}

	.admin_container .admin_navigation .auto_col {
		display: block;
	}

	.admin_container .admin_navigation .auto_col nav {
		padding-left: 16px;
		padding-right: 16px;
	}

	.profile_display {
		height: 338px;
	}

	.admin_container .profile_display {
		height: 312px;
	}

	.profile_display .profile_photo .inner {
		padding: 16px 48px 24px 48px;
	}

	.profile_display .profile_photo .img_container {
		width: 104px;
		height: 104px;
	}
}