@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	background-color: #fafafa;
	font-size: 15px;
	color: #212121;
}

span { display: inline-block; }

a { text-decoration: none;color: #212121; }

button {
	background-color: transparent;
	cursor: pointer;
}

ul, ul li {
	display: block
}

button.btn, input.btn, span.btn {
	cursor: pointer;
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	color: #909090;
	background-color: #eeeeee;
	font-weight: 500;
	border-radius: 5px;
	padding: 0 16px;
	min-width: 120px;
	height: 40px;
	line-height: normal;
	outline: none;
	transition: all 0.2s;
}

button.btn.btn_auto { min-width: 40px; }
button.btn.btn_full, input.btn.btn_full { width: 100% !important;height: 44px; }

button.btn span { vertical-align: middle; }

button.btn.btn_primary, input.btn.btn_primary {
	background-color: #00BCD4;
	color: #fff;
}

button.btn.btn_empty, input.btn.btn_empty {
	background-color: transparent;
	border: none;
}

.btn:disabled {
	background-color: #f2f2f2 !important;
	color: #bdbdbd !important;
	box-shadow: none !important;
	cursor: default;
}

.btn.btn_primary:hover, .btn.btn_primary:focus {
	background-color: #00ACC1;
	color: #fff;
	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.09);
}

button.btn_icon, input.btn_icon, span.btn_icon {
	cursor: pointer;
	outline: none;
	line-height: normal;
	text-align: center;
	width: 40px;
	height: 40px;
	color: #909090;
	border-radius: 100%;
	background-color: transparent;
}

button.btn_icon .icon, span.btn_icon .icon {
	vertical-align: middle;
}

button.btn_icon.small, span.btn_icon.small, input.btn_icon.small {
	width: 20px;
	height: 20px;
	padding: 2px;
	text-align: center;
}

button.btn_icon.small *, span.btn_icon.small * {
	width: 16px;
	height: 16px;
	line-height: normal;
	font-size: 16px !important;
	font-weight: bold !important;
}

button.btn.btn_outline, input.btn.btn_outline, span.btn.btn_outline {
	background-color: transparent;
	height: 40px;
	border: 1px solid #bdbdbd;
	font-weight: normal;
	color: #bdbdbd;
}

.btn.btn_outline:hover, .btn.btn_outline:focus {
	font-weight: 500;
	color: #909090;
	border-color: #909090;
}

button.btn.btn_cancel, input.btn.btn_cancel, span.btn.btn_cancel {
	color: #F44336;
	font-weight: normal;
	background: transparent;
	border: 1px solid #F44336;
	transition: all 0.2s;
}

.btn.btn_cancel:hover, .btn.btn_cancel:focus {
	background-color: #F44336;
	color: #fff;
	font-weight: 500;
}

.btn span.icon, .btn img.icon {
	color: inherit;
	margin-right: 6px;
	position: relative;
	left: -3px;
}

.btn span.icon i {
	color: inherit;
}

button.btn.btn_auto span.icon, span.btn.btn_auto span.icon {
	margin-right: 6px;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

.loader .inner {
    border: 4px solid rgba(170, 170, 170, 0.1);
    border-top: 4px solid #7C4DFF;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*---- SPACING -------------------------- */


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.w_100 {width: 100% !important;height: auto !important;}
.h_100 {width: auto !important;height: 100% !important;}
.full_h { height: 100%; }

.size_8 { width: 8px !important; height: 8px !important; }
.size_12 { width: 12px !important; height: 12px !important; }
.size_16 { width: 16px !important; height: 16px !important; }
.size_24 { width: 24px !important; height: 24px !important; }
.size_32 { width: 32px !important; height: 32px !important; }
.size_40 { width: 40px !important; height: 40px !important; }
.size_48 { width: 48px !important; height: 48px !important; }
.size_56 { width: 56px !important; height: 56px !important; }
.size_64 { width: 64px !important; height: 64px !important; }
.size_80 { width: 80px !important; height: 80px !important; }
.size_96 { width: 96px !important; height: 96px !important; }
.size_120 { width: 120px !important; height: 120px !important; }
.size_160 { width: 160px !important; height: 160px !important; }
.size_192 { width: 192px !important; height: 192px !important; }

.h_32 { height: 32px; }

label.size_24 { display: inline-block; }

/* PADDING */
.p_0{padding: 0 !important;}
.pt_0{padding-top: 0 !important;}
.pb_0{padding-bottom: 0 !important;}
.pr_0{padding-right: 0 !important;}
.pl_0{padding-left: 0 !important;}
.p_2{padding: 2px;}
.pt_2{padding-top: 2px;}
.pb_2{padding-bottom: 2px;}
.pl_2{padding-left: 2px;}
.pr_2{padding-right: 2px;}
.p_4{padding: 4px;}
.pt_4{padding-top: 4px;}
.pb_4{padding-bottom: 4px;}
.pl_4{padding-left: 4px;}
.pr_4{padding-right: 4px;}
.p_8{padding: 8px;}
.pt_8{padding-top: 8px;}
.pb_8{padding-bottom: 8px;}
.pl_8{padding-left: 8px;}
.pr_8{padding-right: 8px;}
.p_12{padding: 12px;}
.pt_12{padding-top: 12px;}
.pb_12{padding-bottom: 12px;}
.pl_12{padding-left: 12px;}
.pr_12{padding-right: 12px;}
.p_16{padding: 16px;}
.pt_16{padding-top: 16px;}
.pb_16{padding-bottom: 16px;}
.pl_16{padding-left: 16px;}
.pr_16{padding-right: 16px;}
.p_24{padding: 24px;}
.pt_24{padding-top: 24px;}
.pb_24{padding-bottom: 24px;}
.pl_24{padding-left: 24px;}
.pr_24{padding-right: 24px;}
.p_32{padding: 32px;}
.pt_32{padding-top: 32px;}
.pb_32{padding-bottom: 32px;}
.pl_32{padding-left: 32px;}
.pr_32{padding-right: 32px;}
.p_40{padding: 40px;}
.pt_40{padding-top: 40px;}
.pb_40{padding-bottom: 40px;}
.p_48{padding: 48px;}
.pt_48{padding-top: 48px;}
.pb_48{padding-bottom: 48px;}
.pt_56{padding-top: 56px;}
.pb_56{padding-bottom: 56px;}
.pt_64{padding-top: 64px;}
.pb_64{padding-bottom: 64px;}
.p_resp{padding: 32px 16px 32px 16px;}

/* MARGIN */
.m_0{margin: 0 !important;}
.mt_0{margin-top: 0 !important;}
.mb_0{margin-bottom: 0 !important;}
.ml_0{margin-left: 0 !important;}
.mr_0{margin-right: 0 !important;}
.mt_2{margin-top: 2px !important;}
.mb_2{margin-bottom: 2px !important;}
.mt_4{margin-top: 4px;}
.mb_4{margin-bottom: 4px;}
.ml_4{margin-left: 4px;}
.mr_4{margin-right: 4px;}
.m_8{margin: 8px;}
.mt_8{margin-top: 8px;}
.mb_8{margin-bottom: 8px;}
.ml_8{margin-left: 8px;}
.mr_8{margin-right: 8px;}
.m_12{margin: 12px;}
.mt_12{margin-top: 12px;}
.mb_12{margin-bottom: 12px;}
.ml_12{margin-left: 12px;}
.mr_12{margin-right: 12px;}
.m_16{margin: 16px;}
.mt_16{margin-top: 16px;}
.mb_16{margin-bottom: 16px;}
.ml_16{margin-left: 16px;}
.mr_16{margin-right: 16px;}
.m_24{margin: 24px;}
.mt_24{margin-top: 24px;}
.mb_24{margin-bottom: 24px;}
.m_32{margin: 32px;}
.ml_32{margin-left: 32px;}
.mt_32{margin-top: 32px;}
.mb_32{margin-bottom: 32px;}
.m_48{margin: 48px;}
.mt_48{margin-top: 48px;}
.mb_48{margin-bottom: 48px;}
.mt_56{margin-top: 56px;}
.mb_56{margin-bottom: 56px;}
.m_a { margin-left: auto;margin-right: auto;display: block; }
.ml_auto{margin-left: auto;}
.mr_auto{margin-right: auto;}

.increment_margin {margin: 8px;}

.tr_0 {position: absolute;top: 0;right: 0;}
.z_2 {position: relative;z-index: 2;}

/*---- ALIGMENT --------------------------- */
.ta_c { text-align: center; }
.ta_l { text-align: left; }
.ta_r { text-align: right; }
.ta_j { text-align: justify; }

.va_m { vertical-align: middle; }
.va_t { vertical-align: top; }
.va_b { vertical-align: bottom; }

.float_left { float: left; }
.float_right { float: right; }

.o_h { overflow: hidden; }

.break_word { word-wrap: break-word; }

/*----------------------------------------- */

/*---- TITLES --------------------------- */

.title_bigger { font-size: 44px;font-weight: normal;line-height: normal; }
.title_big { font-size: 38px;font-weight: normal;line-height: normal; }
.title_medium { font-size: 32px;font-weight: normal;line-height: normal; }
.title_small { font-size: 27px;font-weight: normal;line-height: 30px; }
.title_smaller { font-size: 24px;font-weight: normal;line-height: 24px; }

.fs_b { font-size: 19px; }
.fs_m { font-size: 16px; }
.fs_s { font-size: 13px; }
.fw_l { font-weight: lighter !important; }
.fw_300 { font-weight: 300 !important; }
.fw_n { font-weight: normal; !important; }
.fw_500 { font-weight: 500 !important; }
.fw_b { font-weight: bold !important; }

/*--------------------------------------- */

.text_shadow { text-shadow: 0 1px 1px #000; }
.shadow_flat { box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12); }
.shadow_raised { box-shadow: 0 0 16px rgba(0, 0, 0, 0.09); }

.circle { border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;-o-border-radius: 100%;-ms-border-radius: 100%; }
.circle_radius { border-radius: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;-o-border-radius: 100px;-ms-border-radius: 100px; }
.border_radius { border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px;overflow: hidden; }
.border_radius_max { border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;-o-border-radius: 8px;-ms-border-radius: 8px;overflow: hidden; }

.icon { width: 24px;height: 24px;line-height: 24px !important; }
.icon.small { width: 18px;height: 18px;line-height: 18px !important; }
.icon.big { width: 40px;height: 40px;line-height: 40px !important; }

.icon.small .material-icons { font-size: 18px; }

.img_container { position: relative;overflow: hidden; }

.img_container img {
	position: absolute;
	height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_container img.normal {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 200px;
	left: initial;
	top: initial;
	position: static;
	transform: none;
}

.img_container .editable {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s;
}

.img_container .editable img { width: 42%;height: 42%; }

.img_container:hover .editable { opacity: 1; }

.underline:hover { text-decoration: underline; }
.cursor_pointer { cursor: pointer; }

/*---- COLORS --------------------------- */

.bg_primary { background-color: #00BCD4;color: #fff; }
.bg_primarydark { background-color: #0097A7;color: #fff; }
.bg_primarylight { background-color: #4DD0E1;color: #fff; }
.bg_secondary { background-color: #7C4DFF;color: #fff; }
.bg_white { background-color: #FFF; }
.bg_semiwhite { background-color: #fafafa; }
.bg_lightergray { background-color: #f9f9f9; }
.bg_black { background-color: #000;color: #fff; }
.bg_gray { background-color: #e0e0e0; }
.bg_lightgray { background-color: #f5f5f5; }
.bg_light { background-color: rgba(0, 0, 0, 0.2); }
.bg_darkgray { background-color: #424242; }
.bg_blue { background-color: #2196F3; }
.bg_lightblue { background-color: #80DEEA;color: rgba(0, 0, 0, 0.5); }
.bg_superlightblue { background-color: #E0F7FA; }
.bg_red { background-color: #F44336; }
.bg_green { background-color: #8BC34A; }
.bg_opacity { background-color: rgba(0, 0, 0, 0.3); }
.bg_opacitylight { background-color: rgba(0, 0, 0, 0.18); }

.fc_n, .fc_n a { color: #212121; }
.fc_primarylight { color: #4DD0E1; }
.fc_primary, a.fc_primary, a.fc_primary * { color: #00BCD4; }
.fc_primarydark , a.fc_primarydark, a.fc_primarydark * { color: #0097A7; }
.fc_secondary { color: #7C4DFF; }
.fc_white, .fc_white a, a.fc_white { color: #FFF; }
.fc_black, .fc_black a { color: #000; }
.fc_gray { color: #909090; }
.fc_light { color: #eeeeee; }
.fc_lightgray { color: #bdbdbd; }
.fc_red { color: #F44336; }
.fc_blue, a.fc_blue { color: #2196F3; }
.fc_green { color: #8BC34A !important; }
.fc_opacity { color: rgba(0, 0, 0, 0.4); }

.border { border: 1px solid #bdbdbd; }
.border_t { border-top-width: 1px;border-top-style: solid; }
.border_b { border-bottom-width: 1px;border-bottom-style: solid; }
.border_l { border-left-width: 1px;border-left-style: solid; }
.border_r { border-right-width: 1px;border-right-style: solid; }

.b_primary { border-color: #00BCD4; }
.b_secondary { border-color: #7C4DFF; }
.b_white { border-color: #fff; }
.b_light { border-color: rgba(0, 0, 0, 0.07); }
.b_lightwhite { border-color: rgba(255, 255, 255, 0.3); }
.b_black { border-color: #000; }
.b_gray { border-color: #e0e0e0; }
.b_blue { border-color: #2196F3; }
.b_red { border-color: #F44336; }
.b_green { border-color: #8BC34A; }

.b_2 { border-width: 2px; }
.b_4 { border-width: 4px; }

.b_trans, .b_trans_red, .bg_trans_primary, .bg_trans_secondary, 
.bg_trans_blue, .bg_trans_red, .fc_trans_blue { 
	transition: all 0.2s;cursor: pointer; 
}
.b_trans:hover, .b_trans_red:hover, .bg_trans_primary:hover, 
.bg_trans_secondary:hover, .bg_trans_blue:hover, .bg_trans_red:hover { 
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2); 
}
.b_trans:hover { border-color: #00BCD4; }
.b_trans_red:hover { border-color: #F44336; }

.bg_trans_primary:hover { border-color: #00BCD4;background-color: #00BCD4 !important;color: #fff !important; }
.bg_trans_secondary:hover { border-color: #7C4DFF;background-color: #7C4DFF !important;color: #fff !important; }
.bg_trans_blue:hover { border-color: #2196F3;background-color: #2196F3 !important;color: #fff !important; }
.bg_trans_red:hover { border-color: #F44336;background-color: #F44336 !important;color: #fff !important; }

.fc_trans_blue:hover { color: #2196F3; }
.fc_trans_red:hover { color: #F44336; }

.opacity { opacity: 0.5; }

.hover, .hover_primary, .hover_white, .hover_lightgray, .hover_dark, 
.hover_light, .hover_blue, .hover_red { cursor: pointer; }

.hover_primary:hover { background-color: #E0F7FA !important; }
.hover:hover { background-color: rgba(0, 0, 0, 0.04) !important; }
.hover_white:hover { background-color: rgba(255, 255, 255, 0.06) !important; }
.hover_light:hover { background-color: rgba(0, 0, 0, 0.03) !important; }
.hover_dark:hover { background-color: #424242 !important;color: #fff; }
.hover_lightgray:hover { background-color: #f9f9f9 !important; }
.hover_blue:hover { background-color: #2196F3 !important;color: #fff; }
.hover_red:hover { background-color: #F44336 !important;color: #fff; }

.bg_primary.hover_primary:hover { background-color: #4DD0E1 !important; }
.bg_blue.hover_blue:hover { background-color: #2196F3 !important;color: #fff !important; }
.bg_lightblue.hover_black:hover { background-color: #80DEEA !important; }

.btn_icon:disabled {
	background-color: transparent !important;
	box-shadow: none !important;
	color: #fff !important;
}

.h_selection .in {
	display: inline-block;
	overflow: hidden;
}

.h_selection.i_3 .in {
	display: block;
}

.h_selection .item {
	cursor: pointer;
	width: auto;
	text-align: center;
	display: inline-block;
	transition: all 0.2s;
}

.h_selection.i_3 .item {
	display: block;
}

.h_selection .item h3 {
	padding: 8px 12px;
	font-weight: 500;
	font-size: 15px;
	font-weight: normal;
}

.h_selection .item:last-child {
	border: none;
}

/*--------------------------------------- */

.pos_r { position: relative !important; }

.col_s .col_2 {
	display: inline-block;
	width: 50%;
}

.col_s .col_3 {
	display: inline-block;
	width: 33.333333%;
}

.col_s .col_4 {
	display: inline-block;
	width: 25%;
}

.col_s .col_5 {
	display: inline-block;
	width: 20%;
}

.col_a { display: inline-block;width: auto; }

.inline { display: inline;width: auto; }

/*---- FIELDS  -----------------------------*/

.field { position: relative; }

.login_container .field label {
	display: none;
}

.field label {
	display: inline-block;
	margin-bottom: 4px;
}

.field input, .field select, .field textarea {
	-webkit-apareance: none;
	-moz-apareance: none;
	-o-apareance: none;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	width: calc(100% - 28px);
	height: 40px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #424242;
	font-size: 15px;
	outline: none;
	border-radius: 5px;
}

.field textarea {
	padding: 12px;
	resize: none;
	height: 140px;
	display: inline-block;
}

.field select {
	width: 100%;
	padding-left: 0;
	text-indent: 12px;
}

.field input:focus, .field select:focus, .field textarea:focus {
	border-color: #80DEEA;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.09);
}

.field input.wrong, .field input.wrong:focus {
	border-color: #EF5350;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.field input[type="submit"], .field input[type="button"], .field button {
	width: auto;
	height: 44px !important;
	border: none;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 18px;
	cursor: pointer;
}

.icon_field .field .icon {
	position: absolute;
	display: block;
	top: 1px;
	left: 0;
	margin: 8px 10px;
}

.icon_field .field .icon.close {
	left: initial;
	right: 0;
}

.icon_field .field input, .icon_field .field select {
	width: calc(100% - 60px);
	padding-left: 44px;
}

.icon_field .field select {
	width: 100%;
	padding-left: 0;
	text-indent: 44px;
}

.field *::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bdbdbd;
}
.field *::-moz-placeholder { /* Firefox 19+ */|
  color: #bdbdbd;
}
.field *:-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
}
.field *:-moz-placeholder { /* Firefox 18- */
  color: #bdbdbd;
}

.login_bg { width: 100%;height: 200px; }
.login_container { margin: 16px; }
.login_container .inner { max-width: 480px;margin: 24px auto; }
.login_container.max .inner { max-width: 580px; }

.login_container .field input, .login_container .field select {
	height: 44px;
}

.login_container .field .icon {
	margin: 10px;
}

.list_scroll {
	max-height: 520px;
	overflow: auto;
}

.list_scroll.full {
	max-height: none;
	height: 100%;
}

.list_scroll.mini {
	position: absolute;
	max-height: 200px;
	width: 100%;
	z-index: 3;
}

.switch{position:relative;display:inline-block;width:54px;height:28px}
.switch input[type="checkbox"]{display:none}
.switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;border-radius:34px;-webkit-transition:.4s;transition:.4s}
.switch .slider:before{position:absolute;content:"";height:20px;width:20px;left:4px;bottom:4px;background-color:#fff;transition:.4s;-webkit-transition:.4s;border-radius:50%}
.switch input[type="checkbox"]:checked + .slider{background-color:#29bdef}
.switch input[type="checkbox"]:checked + .slider:before{transform:translateX(26px);-webkit-transform:translateX(26px);-moz-transform:translateX(26px);-o-transform:translateX(26px);-ms-transform:translateX(26px)}

/*---- TOOLBAR --------------------------- */

.app_bar_back { height: 97px; }

.app_bar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 96px;
	z-index: 49;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.app_bar .ad_lh { line-height: 46px; }

.app_bar .app_bar_inner {
	width: auto;
	height: 100%;
	margin: 0 auto;
	max-width: 1160px;
}

.app_bar .app_bar_inner .bar_top, .app_bar .app_bar_inner .bar_bottom {
	width: auto;
	height: 50%;
}

.app_bar .app_bar_inner .logo_container {
	width: 48px;
	height: 100%;
	vertical-align: top;
	text-align: center;
}

.app_bar .app_bar_inner .action_button {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}

.app_bar .app_bar_inner .action_button a {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.app_bar .app_bar_inner .action_button button i.indicator {
	font-style: normal;
	font-size: 12px;
	position: absolute;
	width: 10px;
	height: 10px;
	padding: 4px;
	line-height: 10px;
	right: 4px;
	text-align: center;
	top: 4px;
	z-index: 1;
}

.app_bar .app_bar_inner .searchbar_container .searchbar {
	position: absolute;
	width: calc(100% - 64px);
	max-width: 380px;
	height: 48px;
	top: 0;
	right: 0;
	z-index: 2;
	display: none;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field {
	position: relative;
	width: auto;
	height: 38px;
	margin: 5px 8px 0 8px;
	line-height: 40px;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field button {
	width: 40px;
	height: 40px !important;
	padding: 0 !important;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field button.close {
	left: initial;
	right: 0;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field button img {
	vertical-align: middle;
}

.app_bar .app_bar_inner .searchbar_container .searchbar .field input {
	height: 100%;
	width: calc(100% - 80px);
	padding-left: 40px;
	padding-right: 40px;
	background-color: #f9f9f9;
}

.app_bar .app_bar_inner .hidden_block_container { position: relative; }

.app_bar .app_bar_inner .prof_container {
	height: 100%;
}

.app_bar .app_bar_inner .prof_container span.name {
	width: auto;
	max-width: 100px;
	line-height: normal;
	white-space: nowrap;
	height: auto;
	overflow: hidden;
	vertical-align: middle;
	opacity: 0.7;
	display: none;
}

.app_bar .app_bar_inner .hidden_block_container .hidden_block {
	right: 16px;
	top: 56px;
	position: absolute;
	z-index: 2;
	color: #424242;
	width: auto;
	min-width: 240px;
	line-height: normal;
	display: none;
}

.app_bar .app_bar_inner .hidden_block_container.notif .hidden_block {
	width: 280px;
	right: -48px;
}

.app_bar .app_bar_inner .hidden_block_container .hidden_block i.mark {
	display: block;
	position: absolute;
	width: 14px;height: 14px;
	transform: rotate(-45deg);
	top: -6px;
	right: 12px;
	box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.09);
}

.app_bar .app_bar_inner .hidden_block_container.notif .hidden_block i.mark {
	right: 65px;
}

.hidden_block_container.notif .notif_container .list {
	overflow: auto;
	max-height: 360px; 
}

.app_bar .app_bar_inner .bar_bottom .menu {
	height: 100%;
	width: 100%;
	position: relative;
	line-height: normal;
}

.app_bar .app_bar_inner .bar_bottom .menu .item {
	display: inline-block;
	margin: 0;
	width: 25%;
	vertical-align: top;
	text-align: center;
	height: 100%;
	float: left;
}

.app_bar .app_bar_inner .bar_bottom .menu .item a {
	display: block;
	height: 100%;
	color: #bdbdbd;
}

.app_bar .app_bar_inner .bar_bottom .menu .item .inner {
	width: auto;
	height: 100%;
}

.app_bar .app_bar_inner .bar_bottom .menu .item .inner span.label {
	display: none;
}

.list_element .ref {
	min-height: 70px;
	width: 64px;
	display: inline-block;
	vertical-align: top; 
	text-align: center;
}

.list_element .ref.r_sp {
	padding-top: 5px;
}

.list_element .ref span { 
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-oz-border-radius: 4px;
	-ms-border-radius: 4px; 
}
.list_element .ref span label { 
	display: inline-block;
	vertical-align: middle;
	font-weight: 300 !important;
	cursor: pointer !important; 
}

.list_element .ref .img_container {
	width: 56px;
	height: 56px;
	margin: 8px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-oz-border-radius: 4px;
	-ms-border-radius: 4px;
	background-color: transparent !important;
}

.list_element .ref span.full, .list_element .ref .img_container.full { 
	width: 64px;
	height: 64px;
	line-height: 64px;
	margin: 0;
	border-radius: 0;
}

.list_element .ref .img_container.mini, .list_element .ref span.mini {
	width: 48px;
	height: 48px;
	margin: 11px 2px 11px auto;
	margin-left: auto;
	line-height: 48px;
	margin-right: 2px;
}

.img_container span.check {
	display: block;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 54px;
	height: 100%;
	text-align: center;
	border-radius: 100%;
	z-index: 2;
}

.img_container span.check i, .img_container span.check img {
	vertical-align: middle;
}

.list_element .info {
	width: calc(100% - 64px);
	display: inline-block;
	margin-top: 0 !important;
	vertical-align: top;
	position: relative;
}

.list_element .info .p_16 {
	padding: 14px 16px 13px 16px;
}


.list_element.max_h .info h3, .list_element.max_h .info p {
	height: 21px;
	overflow: hidden;
	white-space: nowrap; 
}

.list_element.max_h .info p {
	height: 18px;
}

.list_element .mini_mark {
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 8px;
	right: 8px;
	z-index: 2;
}

.list_element .mini_mark button i, .list_element .mini_mark button img{
	opacity: 0.5;
}

.list_element .mini_mark button:hover i, .list_element .mini_mark button:hover img{
	opacity: 1;
}

.options_button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	outline: none;
}

.list_element .info .options_button {
	top: 6px;
	right: 4px;
}

.hidden_options {
	position: absolute;
	width: auto;
	min-width: 180px;
	max-width: 300px;
	top: 8px;
	right: 32px;
	display: none;
	z-index: 3;
}

.list_element .info .hidden_options {
	top: 12px;
	right: 36px;
}

.list_element .mini_mark .hidden_options {
	top: -2px;
	right: 24px;
}

.pop_up_container {
	display: block;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 99;
	background-color: #fff;
}

.pop_up_container.gallery {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.pop_up_container .pop_up_back {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.pop_up_container .pop_up {
	position: relative;
	margin: 0 auto;
	z-index: 2;
	max-width: 620px;
	background-color: #fff;
}

.pop_up_container.big .pop_up {
	max-width: 1080px;
}

.pop_up_container.gallery .pop_up {
	max-width: 1080px;
	height: 100%;
	background-color: transparent !important;
}

.pop_up_container.confirmation {
	background-color: transparent;
	left: 0;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 299;
}

.pop_up_container.confirmation .pop_up {
	width: calc(100% - 64px);
	max-width: 420px !important;
}

.pop_up_container .pop_up .inner {
	overflow: hidden;
}

.pop_up_container.gallery .pop_up .inner {
	height: 100%;
}

.pop_up_container.confirmation .pop_up .inner {
	height: auto;
}

.pop_up_title {
	position: relative;
	z-index: 2;
	background-color: #fff;
}

.pop_up_title .title {
	padding: 19px 16px 17px 4px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	margin-left: 56px;
	position: relative;
}

.pop_up_title .close_button {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 40px;
	height: 40px;
}

.pop_up_title .close_button button {
	margin: 8px;
}

.pop_up_container .pop_up .inner .padding_block {
	padding: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile_display {
	position: relative;
	height: 260px;
}

.profile_display.small {
	max-height: 270px;
}

.profile_display.mini {
	height: 220px !important;
}

.profile_display .background {
	width: 100%;
	position: relative;
	height: 100%;
}

.profile_display .background .editable {
	position: absolute;
	top: 12px;
	left: 12px;
	width: auto;
	z-index: 2;
}

.profile_display .background .img_container {
	height: 100%;
}

.profile_display .background .bg_opacity {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.profile_display .profile_photo {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 1;
}

.profile_display .profile_photo .inner {
	padding: 20px;
}

.profile_display.mini .profile_photo .inner {
	padding: 16px !important;
}

.profile_display .profile_photo .img_container {
	width: 88px;
	height: 88px;
}

.profile_display.mini .profile_photo .img_container{
	width: 88px !important;
	height: 88px !important;
}

.profile_display .profile_photo .info {
	margin-top: 24px;
}

.hidden_input {
	display: none;
}

.gallery_container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery_container .buttons_container {
	height: 48px;
}

.gallery_container .buttons_container button {
	display: inline-block;
	height: 100%;
	text-align: center;
}

.gallery_container .buttons_container button span {
	display: none;
	vertical-align: middle;
}

.gallery_container .gal_inner {
	white-space: nowrap;
	width: 100%;
	height: auto;
}

.pop_up_container.gallery .gallery_container .gal_inner {
	height: calc(100% - 104px);
} 

.gallery_container .gal_inner .img_container {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.gallery_container .gal_inner .img_container img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.gallery_container .buttons_container {
	height: 48px;
}

.tags_container { overflow: hidden; }

.tags_container .tag {
	padding: 4px 9px;
	margin: 0 5px 5px 0;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
	border: 1px solid rgba(0, 0, 0, 0.06);
}

.tags_container .tag.big {
	font-size: 15px;
	padding: 5px 10px;
	margin: 0 5px 6px 0;
}

.messages_container {
	position: absolute;
	left: 0;
	margin: 0;
	top: 97px;
	width: 100%;
	height: calc(100% - 97px);
	overflow: hidden;
}

.mini_msm .messages_container {
	position: relative;
	height: 100% !important;
}

.messages_container .left_grid, .messages_container .right_grid {
	height: 100%;
	position: relative;
}

.messages_container .top_actions {
	width: auto;
	height: 56px;
	position: relative
}

.messages_container .msm_list {
	height: calc(100% - 57px);
}

.messages_container .top_actions .field_cont {
	position: absolute;
	z-index: 4;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}

.messages_container .top_actions .field_cont.max {
	max-width: 520px;
	left: initial;
	right: 0;
}

.messages_container .top_actions .field_cont input {
	width: calc(100% - 90px);
	padding-right: 44px;
}

.messages_container .top_actions .p_info {
	float: left;
	text-align: left;
}

.messages_container .top_actions .p_info .name {
	line-height: normal;
	max-height: 40px;
	overflow: hidden;
	max-width: 180px;
}

.messages_container .msm_container {
	height: calc(100% - 57px);
	overflow: hidden;
	position: relative;
}

.messages_container .msm_container .pd_block {
	padding: 24px;
}

.msm_container .list_element {
	max-width: 80%;
	display: inline-block;
	text-align: left;
	overflow: initial;
}

.messages_container .msm_field {
	position: absolute;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	height: 56px;
	z-index: 2;
}

.messages_container .msm_field .left {
	width: auto;
	margin-right: 56px;
}

.messages_container .msm_field .right {
	position: absolute;
	width: 56px;
	right: 0;
	top: 0;
}

.messages_container .msm_field .field {
	padding: 6px;
}

.messages_container .msm_field textarea {
	height: 18px;
	display: block;
}